---
layout: post
title: Similarities between a researcher and a cartoonist
date: 2013-12-11 16:54:32.000000000 +00:00
type: post
published: true
status: publish
categories:
- Science
- Thoughts
tags:
- art
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---
<p>This post will not be interesting for many people unless they are or have been either a researcher or a comic artist or both. But well, I wanted to write it, because...</p>
<p>...the other day, while thinking about my stuff (yeah, sometimes I do think XD) I realized that there were many similarities between the professional researcher and the professional comic artist, and that finding amused me a bit (the kind of amusement that makes you laugh because otherwise, you'd have to cry :-( ).</p>
<p>Since I have experience working in both ends, I decided to do a write-up about it. Here it goes:</p>
<ul>
<li>A researcher's job is complex and develops through many different stages, with their projects extending over a long period of time.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>A researcher works 12 to 16 hours a day, including weekends and sometimes even holidays and vacations. (Sometimes you have holidays).<br />
<strong>Same for a cartoonist</strong>.</li>
<li>In general, a researcher works for free, or even has a salary but it's too small, at best the minimum wage or a little more depending on the range, but in any case nothing comparable to the hours you work.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>A researcher has to leave their home country to be able to make a life out of research. Researchers may finish their thesis in their home country (although it's more common to finish it abroad), and then look for a post-doc abroad.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>A researcher is a freelance worker, goes from post-doc to post-doc, waiting for that coveted permanent contract. But the contract never comes, so they are permanently engaged in temporary and precarious work.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>A researcher dreams of returning to their home country and be recognized for their work abroad, thus getting a job there. However there is endogamy, populism, or other problems, and this is not always achieved.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>Society does not consider research a profession, a researcher is considered a geek and their job is not taken seriously. A researcher working in a research project for their thesis is not a worker, is a "PhD. student" or other things, never a <em>professional</em> researcher.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>The government also ignores researchers and fails to acknowledge their part in the country's development, which is reflected in the absence of grants, cuts in R&amp;D, and overall a total absence of funding for any research project, or either it is very difficult to get that funding, and it's always fraught with bureaucratic obstacles.<br />
<strong>Same for a cartoonist</strong>.</li>
<li>Also, science is not considered culture, and the population ignores many scientific concepts of general knowledge (eg. the <a href="http://nrich.maths.org/2477/index">mathematical sense</a>). I remember the year that marked the 500th anniversary of the Quixote, it was in all the newspapers and every day of that year a person would read a piece of Don Quixote on TV. But this has never happened to Newton's Principia, nor has any other revolutionary work of science received such attention. Don Quixote is culture, the Principia is not.<br />
<strong>Comics are not considered culture either</strong>.</li>
<li>If a researcher writes a document like a thesis, or creates a patent, usually, the author rights, "copyright" or exploitation rights are for the college to which their research institute or department is affiliated.<br />
<strong>A cartoonist, in general, loses their copyrights and exploitation rights against publisher companies</strong>.</li>
</ul>
<p>What do you think? Are you either a researcher or a comic artist? Are you both? are you none?</p>
