---
layout: post
title: What I learned making a podcast with no resources and teammates in different countries
date: 2013-12-10 20:21:20.000000000 +00:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- featured
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---
<p>For some time I worked in a collaborative podcast with people from all around the world.</p>
<p>In this podcast, we were:</p>
<ul>
<li>3 people in different cities in Mexico</li>
<li>2 people in Spain</li>
<li>1 person in Venezuela</li>
<li>1 person in Chile</li>
<li>1 person in Argentina</li>
</ul>
<p>I wanted to share very briefly my experiences working in such circumstances. There are a few things that are specific to working with a remote team.</p>
<p><strong>Disclaimer:</strong> There are a-trillion-plus-one posts on the internet describing all the steps you must follow to make a podcast. This is just my experience, feel free to take it with a grain of salt!.</p>
<h2>Podcasting</h2>
<h3>Regarding the contents</h3>
<p>Contents are the first thing you need to work on. They are going to set what happens with everything else in your podcast.</p>
<ul>
<li><strong>Pick a topic</strong> that you really love, or that you know a lot about. A podcast takes a lot of your time, takes a lot of work and a lot of discipline.</li>
<li><strong>In radio, it works better to have many short sections</strong>, rather than a few long sections. That's because you lack the power of images, since you are relying on just what you say, so you better make it dynamic and engaging.</li>
<li><strong>Interaction:</strong> Regarding engagement, one of the best ways to achieve it is through interaction with the audience. There are several ways you can allow your listeners to interact with you. For example, throw a question at the end of the show and pick the best answers for the next episode, or use twitter hashtags for the topic of the next episode, ask your audience to send you stuff, etc.</li>
<li><strong>The hook:</strong> It's a good idea to have one section that extends through several episodes, to keep your listeners hooked up and coming back. Our podcast was about scriptwriters and comic artist, so we were planning to have a section were we would read (dramatize, really) a story through several episodes. That way, if people were not interested in the podcast contents, at least they will come and stay for the story. For example, at the time, I was also collaborating with an online magazine where one of the sections was an ongoing comic series. Some people hated the magazine, but stayed for the comic.</li>
<li><strong>Prepare, prepare, prepare</strong>. This means, do your research and have your data at hand. It is awful when you hear "<em>Eeeehhhhmmm... aaahhhhhmmm</em>". Some of those can't really be cut off when you're editing the sound, and make an awkward effect when the cut audio pieces are joined together.</li>
<li><strong>Periodicity:</strong> How often do you think you'll be able to release a new podcast, taking into account research, preparation, sound editing, link collection, waiting for your chosen interviewee to reply to your invitation, work, family, friends, LIFE, etc. etc.?</li>
<li><strong>Length:</strong> Ideally, no more than 1 hour, although it all depends on the contents and the target audience.</li>
<li><strong>Live or "studio":</strong> I quoted <em>studio</em>, because I'm referring to recording your podcast, editing it and then uploading it when it's ready, as opposed to live recording, where you do real-time streaming and if you fuck up, everybody will hear you, you can not delete it. But if you are the kind of podcasts that receives calls from the audience in real time, or has a live chat, you'll have to stick with this format. It also demands more radio experience from the people doing the podcast.</li>
</ul>
<h3>Technical stuff</h3>
<p>No matter if you are tech savvy or not, there are some technical basic things that you can not overlook. If you need help, don't be shy and ask for it. There's nothing worse than your podcast sounding like it was recorded inside of a bucket. How do you do that with almost no resources?</p>
<ul>
<li><strong>Get used to your voice:</strong> You won't like it. Through all your life, you've been listening to yourself through your body's resonance box. Now you will be listening to you <em>as everybody hears you</em>. It was a big shock to me, because your voice turns out to be much less deep than you think. So record yourself alone and practice a lot. Specially, learn to not move a lot when speaking, and control your breathing or you'll sound like you're about to say "<em>I'm your father</em>" :-P.</li>
<li><strong>Recording:</strong> We used <a href="http://www.skype.com/">Skype</a> and a plugin to record the calls. Some people use <a href="http://audacityteam.org/">Audacity</a> to record. Some people take the microphone to the streets, but we did it all through the internet. Depends on the content really, so do your research and try things. We had interviews from time to time, and our interviewees were also in different countries and used Skype for the interviews, so we stuck with Skype. Also, if you are not doing this alone, it's a good idea to have at least two people to do the recording. Just in case the power goes off, or you forget to hit REC, etc.</li>
<li><strong>Quality:</strong> Podcasts are uploaded to the Internet, where you have to struggle with bandwidth issues and what not. We used to record <strong>in mono at 128Kb/s</strong>, and then reduced the rate a bit in edition. Pause anything in your computer that consumes bandwidth (Dropbox, for example) to avoid delays while recording. It's not a bad idea to buy a good microphone, but we were all as poor as rats, so we used standard microphones. I used the hole in my laptop. Also very important: use headphones, or the echo of your team's voices will be recorded together with the actual sound.</li>
<li><strong>Edition:</strong> This part can eat a huge amount of your time, and is one of the most important parts of your podcast. Ideally it would be done by two people, one to make the coarse edition (cut off silences, noise reduction, delete the "<em>eeeehhhmmm</em>"s, etc.) and another to polish it depending on your content (add music, special effects, etc.). One single person can do both, but we were busy people so we shared duties. Again, we were poor so we used Audacity which is free, cool and simple, but you can find better and more expensive edition software.</li>
<li><strong>Releasing:</strong> The most practical thing to do is to have a blog and make a post for every podcast episode, where you can provide a download link, play the episode, add links to stuff that was mentioned in the episode, or even add links to specific sections of the episode. If you can keep a dedicated site, that's even better. We had neither one nor the other, we used a webcomic publishing platform, since the podcast was about comics, and used the comic page template as a blog post. We uploaded a comic page for every episode and added the relevant links. The platform had a notification system that poked followers when a new release was published. Again, the content sets the rules.</li>
</ul>
<h3>Branding</h3>
<p>I'm not the kind of person that likes marketing at all. What's more, I'm awful at it. This is one of those things that, depending on your personality, you're gonna hate it or you're gonna love it. So if you belong to the first group, all I can say is... patience! You can't slope off.</p>
<ul>
<li><strong>Name:</strong> This is a tough one. As the saying goes, "<em>There are only two hard things in Computer Science...</em>".</li>
<li><strong>Intro and ending:</strong> Had you loved a podcast so much that you cried at the awful selection of the opening tune they made? "<em>If only they got rid of that horrible song</em>". Same goes for the ending. This is like the logo of your podcast, but in sound format.  Choose something that is catchy, that would make your audience relate it immediately with you or the topic of your podcast, and think: "<em>yeah, podcast in da house</em>". Just be careful with author's rights. The <a href="http://freemusicarchive.org/">Free Music Archive</a> is a great place to find music that is free of rights to use commercially and you get to know kick-ass bands as well.</li>
<li><strong>Logo:</strong> This is the logo in image format. It would be ideal to hire a graphic designer to create one for you. But, if you are broke as we were and have no sponsors, DIY and take the shame. This will go in your twitter, website, etc.</li>
<li><strong>The style:</strong> Are you casual or super serious? Your style will depend on the contents and your target audience. We were a podcast about comics, and our average listener's age was around 15 to 30 years old, so we were very informal (although we took our work very seriously ;-) ). The online magazine I was collaborating with had the same target audience, but the contents were more classic, so they wanted a very formal and business-like language.</li>
<li><strong>Promotion:</strong> I haven't yet figured it out myself, but some of the things we did were, exchanging ads with other podcasts, promoting it on Twitter, opening a dedicated thread in the forum of the place where we were publishing our podcast, etc. We didn't think about getting sponsors, I believe we needed a webpage of our own and a domain for that to work. Promotion is probably the hardest of all the things you will be doing.</li>
</ul>
<h2>Specific to a remote team</h2>
<p>As I said, we were recording a podcast with people living in different countries. We used mainly Skype to communicate and would meet on Sunday afternoons, which was good for everybody's time zone collisions (about 7 hours difference in total). We had a lot of fun together, and this is very important when you are working in something so time-demanding and collaborative.</p>
<p>Not only were we remote, we also had no economic resources, so <strong>no shiny mixers and top-notch microphones</strong>. We used Skype with a plugin that recorded the sound of the collective call with enough quality and didn't give any problems if two of us were speaking at the same time (Skype ducking). And yet, we managed to have a decent sound quality and edition. But you know what they say,</p>
<blockquote><p>"necessity is the mother of invention"</p></blockquote>
<p>so, the only way to get out of a situation like this is, turned into a <em>MacGyver</em>. That can only be good.</p>
<p>We did have some sort of "head" of the podcast but in practice, this head was choosing the topics for the different sections and that was really it. During the podcast, everybody had the sections clear and their part prepared. There were parts where one person would do a review and the rest would listen, and at the end somebody would pick the lead and go through all of us one by one asking us to give our own opinion on the matter. It was natural and organic.</p>
<p>We had two people recording and one editor, I edited my own interviews to release some work from the shoulders of the editor. We used Audacity. Another person did the comic page, and another one uploaded it and published it. So our duties were more or less shared.</p>
<p>Working like this was cool for several reasons:</p>
<ul>
<li><strong>Multiculturalism:</strong> Our podcast was about comics, and the comic industry is very different from country to country. My teammates where from different countries and had very different stories to share and different approaches. Also, the platform we used had users from all over the world.</li>
<li><strong>De-localization:</strong> When you and your teammates are all from the same city, you tend to end up localizing your jokes, event news and contents too much. It's a bit like living in an isolated bubble, and you can't realize it when you are on the inside. But we were in different time zones, different weathers, and different social settings. There were different activities going on on our cities. We also had different points of view. I think all this gave it a feeling of richness that we wouldn't have achieved had we done it non-remotely.</li>
<li>We had to deal with <strong>different time zones</strong>, which helped us to keep organized and disciplined, as well as <em>relaxed</em>. You take things easier when you know you can't contact your teammate in five more hours at least, and learn a lot about prioritizing. We released a new podcast every 15 days and recorded about one week after the publishing date. The previous week was used to work on the editing and the comic page. The next, to research and prepare the information for the following episode before recording.</li>
</ul>
<p>There are probably more things that I can't remember now, but in general it was a very enjoyable experience, and if I ever do a podcast again, I'd love to do it with people living in several different countries.</p>
<p>What are your experiences with podcasting? Have you ever collaborated in a multicultural podcast or recorded an episode with people living in different parts of the world?</p>
<p><strong>UPDATE 1:</strong> The recording plugin we were using with Skype no longer works with the new Skype versions, so if you want to prevent Skype ducking, <a href="http://www.ibroadcastnetwork.org/blog/no-more-skype-ducking">here is a way to achieve exactly that</a>.</p>
<p><strong>UPDATE 2:</strong> Some people have come to me after I wrote this and told me that I was not really working with a remote and multicultural team because all my teammates where from Spanish speaking countries... That's an example of a huge lack of cultural knowledge! Many people tend to see the American continent as a blob. They merge all the countries except USA and Canada in some kind of blurry region where "all those countries down there" are, and treat them like a single mono-cultural, mono-racial and monolithic big spot. But, if we remove the French "territoires d'outre-mer", and the Dutch, Danish and British islands, <a href="https://en.wikipedia.org/wiki/List_of_countries_in_the_Americas_by_population">there are still 38 countries in there</a>, and believe me, they couldn't be more different. Some times the only thing they have in common is the language, and <a href="https://www.youtube.com/watch?v=4LjDe4sLER0">even that changes a lot</a> in terms of slang, pronunciation, vocabulary and what not. Yes, we live in a globalized world, but we should aknowledge cultural differences. It's very embarrassing to be culturally ignorant, don't you think?</p>
