---
layout: post
title: Lovelace and Babbage comic book review
date: 2015-11-15 08:30:30.000000000 +01:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- nostalgia
- art
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---

<p>I finally could make some time to read <a href="https://en.wikipedia.org/wiki/The_Thrilling_Adventures_of_Lovelace_and_Babbage">The Thrilling Adventures of Lovelace and Babbage</a> by Sydney Padua. I was a huge fan of <a href="http://sydneypadua.com/2dgoggles">the webcomic</a> and somebody at work decided to buy a copy of the book to have in the office, lucky me!</p>

<p>It is about the life of the first programmer (<a href="https://en.wikipedia.org/wiki/Ada_Lovelace">Ada Lovelace</a>) and the first computer designer (<a href="https://en.wikipedia.org/wiki/Charles_Babbage">Charles Babbage</a>), and how would things be in a "Pocket Universe" where Ada doesn't die at 36, they build the analytical engine, and use it to fight crime.</p>

<p><a href="<%= image_host %>/images/uploads/2015/11/ada-babbage-fight-crime.jpg"><img src="<%= image_host %>/images/uploads/2015/11/ada-babbage-fight-crime.jpg" alt="They have different ideas of crime" width="560" height="588" class="aligncenter" /></a></p>

<p>The comic started a bit as an improvised joke in a wine bar, and people liked it a lot and asked for a whole comic series. The book has some contents that are not in the web, and viceversa.</p>

<p>If you had ever make any comics, you know that one of the most important things to do is <strong>research</strong>. If your comic takes place in Rome, you have to collect images to draw credible backgrounds, you have to learn about the culture, what they eat, how they dress, slang expressions, anything you need to incorporate to the comic to make it seem that it really happens in Rome. The first thing that called my attention was how well researched this comic is. If you read the book you will see a lot of footnotes. That information was in the webcomic as well, in each comic page. And the maths are correct as well, and presented in a very clear way.</p>

<p>You would think the person who made this masterpiece was very obsessed with the biographies of these two (and the author admits so <a href="https://www.youtube.com/watch?v=5fVlGAY6m8o">in a talk</a>!), as the footnotes are long and detailed. But they are not boring, and you actually look after them as they are very enjoyable to read. Also, I really like to know these tiny facts behind things happening in the comic! If you have read <a href="https://en.wikipedia.org/wiki/Ghost_in_the_Shell_(manga)">Ghost in the shell</a> (another masterpiece) and enjoyed it, this feels a bit like it:</p>

<p><a href="<%= image_host %>/images/uploads/2015/11/ada-babbage-shirow-footnotes.jpeg"><img src="<%= image_host %>/images/uploads/2015/11/ada-babbage-shirow-footnotes.jpeg" alt="Shirow footnotes in Ghost in the Shell" width="808" height="803" class="aligncenter" /></a></p>

<p>The author is an animator (with a degree in Theater History) who worked in <a href="https://en.wikipedia.org/wiki/The_Iron_Giant">The Iron Giant</a> (from 1999, when animation was still done by hand) and it shows in the comic. The well performed lines of action, the expressions, the page layouts, the direction of reading and the personality and charisma of the characters. If you ever made comics, you recognise the technique, if not, you will still be mind-blown. The illustrations of all those cogs and tubes and machines are done to great detail. That must have been super fun to draw, but also a lot of work!</p>

<p>Indeed, the processes of making comics and films have so many things in common!</p>

<p>My favourite part is when <a href="https://en.wikipedia.org/wiki/George_Eliot
">George Eliot</a> (Mary Ann Evans) gets lost in the machine and Ada gives one of the best descriptions of data in the context of software:

<blockquote><p>Despair not! Your words are not destroyed! [...] They have become... DATA!</p>

<p>Liberated from the static shell of the material, transliterated to the purely symbological, sublimated into a state entirely new!</p>

<p>It can be filed, indexed, converted, replicated, searched, shared, shuffled, linked, remixed, recombined, archived, analyticated, resurrected!</p>
</blockquote>

<p>In the comic, Ada is referring to Evans novel after being swallowed by The Engine, but I trully think the author is describing the exhaustive searchs in Google Books while researching for the comic.</p>

<p>I also enjoyed the explanation of <a href="http://sydneypadua.com/2dgoggles/the-marvellous-analytical-engine-how-it-works/
">how the engine worked</a> and the bits of history about  punched cards, IBM and what not. And the jokes on Boole ("<em>Won't you come in?</em>" "<em>No</em>", and then he comes in, etc.) where hilarious.</p>

<p>At this point I would love to hear an explanation from Babbage himself about the engine, since he was so passionate about it.</p>

<p>The good news is that this comic <a href="http://www.comic-con.org/awards/2016-eisner-award-nominees">has an Eisner nomination</a> to <strong>Best Graphic Album—New</strong> and <strong>Best Writer/Artist</strong>.</p>

<p>I also learnt a sad thing. Apparently there is a lot of misinformation about Ada and scholars trying to undermine her work and tag her as a fraud. It's no surprise, though. As usual, women achievements tend to be invisibilized and questioned. A lot of women contributions have been erased from history in this way! Even Ada's Math teacher told her mother in a letter that teaching Ada maths was a bad idea because it required thinking so hard that her female body wouldn't be able to cope with it, since thinking that hard requires a male-body constitution.</p>

<p>Anyway, Stephen Wolfram <a href="http://blog.stephenwolfram.com/2015/12/untangling-the-tale-of-ada-lovelace/
">has written about these two</a> in a similarly passionate way (with lots of links to the wolfram input, of course, lol, and comparing himself to them two XD). My favourite part of their biography is when Ada basically asks Babbage to be the CEO and for him to take the CTO role. As Wolfram says, "<em>she ended up exploring and articulating something quite recognizable as the modern notion of universal computation</em>". She got a deep understanding not only about how the machine worked, but about its future possibilities.</p>

<blockquote><p>Then she discusses the idea of using loops to reduce the number of cards needed, and the value of rearranging operations to optimize their execution on the Analytical Engine, ultimately showing that just 3 cards could do what might seem like it should require 330.</p></blockquote>

<p>That's the invention of the "for" and "while" loops in modern programming, right there.</p>

<p>Tim Berners Lee is still alive to see what the web has turned into after all these  years. I wonder what would Ada and Baggage say of today's computers, running on electricity and plastic as opposed to steam and metal (well, Silicon is still a metal!). Would they like what they see? What new things would they propose to go from here?</p>
