---
layout: post
title: Tachyons explained with Frisbees
date: 2015-06-16 15:33:23.000000000 +01:00
type: post
published: true
status: publish
categories:
- Thoughts
tags: []
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---
<p>If you ever heard the joke:</p>
<blockquote><p>The barman says: “<em>We don’t serve faster-than-light particles here</em>.”<br />
A tachyon enters a bar.</p></blockquote>
<p>and wondered what's funny about that, you probably haven't heard of tachyons.</p>
<p>According to <a href="https://en.wikipedia.org/wiki/Tachyon">Wikipedia</a>:</p>
<blockquote><p>A <b>tachyon</b> <span class="nowrap"><span class="IPA nopopups"><a title="Help:IPA for English" href="/wiki/Help:IPA_for_English">/<span style="border-bottom: 1px dotted;"><span title="/ˈ/ primary stress follows">ˈ</span><span title="'t' in 'tie'">t</span><span title="/æ/ short 'a' in 'bad'">æ</span><span title="'k' in 'kind'">k</span><span title="/i/ 'y' in 'happy'">i</span><span title="/./ syllable break">.</span><span title="/ɒ/ short 'o' in 'body'">ɒ</span><span title="'n' in 'no'">n</span></span>/</a></span></span> or <b>tachyonic particle</b> is a hypothetical <a title="Particle" href="/wiki/Particle">particle</a> that always moves <a title="Faster-than-light" href="/wiki/Faster-than-light">faster than light</a>.</p></blockquote>
<p>It is important to bear in mind that <em>nothing</em> in the universe can travel <strong>faster than light</strong>, at least in <em>vacuum</em>. That's just a limitation of Nature. But in certain materials, the speed of light can be affected by the molecular structure, specially in different directions, where even its phase can be shifted.</p>
<div class="kitkat"><p>Another example that you may be more familiar with, is the phenomenon of <em>refraction</em>. For example, light is decomposed in its constituent colors when you place a prism in its way, because light changes speed as it moves from one medium to another, and this change is different for every frequency. So when it goes from air to the material of the prism, and then again from the prism to the air, every frequency will leave with a different speed, angle and color.</p></div>
<p>So, there are particles who hypothetically could travel faster than the speed of light in certain materials, particles that are not affected by the structure of the material. Just bear in mind that in vacuum, light is still the Queen.</p>
<p>Now, what does this mean exactly ? What happens if you travel faster than light?</p>
<p>We don't even need <a href="https://en.wikipedia.org/wiki/Theory_of_relativity">relativity</a> to visualize it</p>
<h2>Understanding how we see</h2>
<p>When I was a kid, one concept changed the way I looked at life forever:</p>
<blockquote><p>Things don't have colors, the colors we see are a result of the light falling over these objects, bouncing, and being thrown back at our eyes.</p></blockquote>
<p>In this process, only certain frequencies of light will be reflected on the surface of the object, and since <a href="https://en.wikipedia.org/wiki/Color">a range of frequencies is associated with every color</a>, that's why it appears that things have colors. What's colored is the light that reaches your eyes and interacts with them.</p>
<p>And we have this perception because we have three types of cones in our retinas, which are sensible to reds, greens and blues respectively. If you think of dogs, who see in black and white (just luminosity variations) or snakes, who can see infra-red, you start to get the concept. In fact, it seems like <a href="http://webecoist.momtastic.com/2009/01/14/animal-vision-color-detection-and-color-blindness/">every species in the animal kingdom has it's own way of processing the light</a> that comes to their eyes after bouncing over the surface of an object and being reflected back to them.</p>
<p>So, in order to see an object, we need to receive the light that was reflected on its surface. And that's why we can see. If you turn off the lights, there's no light to be reflected over the surface of the objects, so you see nothing.</p>
<h2>The tachyonic Frisbee</h2>
<p>What if an object travels faster than the light that gets reflected in its surface? What would we see?</p>
<p>For example, imagine that someone throws a Frisbee at you, and it reaches the speed of light and surpasses it on flight. WOAH!</p>
<p>What would happen is that, <em>the Frisbee will reach your hand before you could see it</em>.</p>
<p>But it's not only that.</p>
<p><em><strong>You would see it instantly appear in your hand out of nowhere, and then, an exact "copy" of the Frisbee would start to travel back to the thrower's hand, while still in your hand, as if you were watching a movie played backwards</strong></em>.</p>
<p>WAT.</p>
<p>Why?</p>
<h2>A silly explanation</h2>
<p>What happens is that, since the tachyonic Frisbee travels faster than light, the Frisbee would pass its own image. This image is produced by the light falling on the disk and being reflected and directed to the observer's eyes at the speed of light.</p>
<p>But the Frisbee is still producing images of itself while flying. The photons reflected by the disk surface project another image to the observer that travels at the speed of light. But now, this image is in front of the previous image.</p>
<p>The Frisbee again passes this image, because it is faster than light, and again the light falling over the disk projects another image of it at the speed of light in front of the others.</p>
<p>Finally, before any of these images has reached the observer, the Frisbee lands in the receiver's hand, and another image is produced; the image of the Frisbee on the hand, which would reach the observer instantly (well, at the speed of light, heh). So the observer sees the Frisbee appear on their hand out of nowhere.</p>
<p>Then, all the images emitted during the Frisbee's flight start to arrive. First, the images emitted at the end of the trajectory, then the images emitted at the middle of the trajectory, then, the images emitted at the beginning of the trajectory. So the observer will see as if a copy of the Frisbee in their hand started traveling backwards.</p>
<p>What happens is that the images of the Frisbee arrive to the observer in reverse order: all of them travel at the same speed, so the closest ones arrive first, even though they were formed later than the distant ones. That makes the movement of the disk look, apparently, as inverted to the real one.</p>
<p>Something similar happens with tachyonic particles traveling in a material. There is a more precise explanation of what happens with time travel when you pass the speed of light, but we would need a <a href="https://en.wikipedia.org/wiki/Minkowski_diagram">Minkowski diagram</a> to explain that! :-)</p>
<h2>Final thoughts</h2>
<p>Sometimes, theories allow you to invent stories that are compatible with the laws of physics, so they are theoretically possible, although any physicist would tell you that no compelling evidence for their existence has been found (even recent claims of neutrinos traveling faster than light at CERN were found to be wrong).</p>
<p>The tachyonic Frisbee could make the observer think that the Frisbee appeared out of nowhere and then replicated to go backwards only to disappear off the thrower hands.</p>
<p>But that's not what happened.</p>
<p>It's just a matter of perception.</p>
<p>If you think about how other animals perceive the world around them, or <a href="https://en.wikipedia.org/wiki/Optical_illusion">optical illusions</a>, or the  history of brain evolution, you will realize that we are clearly limited by our biological bodies. And even if we use devices to measure or study things (telescopes, microscopes, radio-telescopes...) we are still limited by their limitations too.</p>
<p>If our biological or device limitations were not enough, we are also limited by Nature itself, one example shown here is the speed of light, which can not be surpassed. Another one could be the Planck constant, since you would never be able to know what happens in a cube in the phase space that is smaller than <em>h</em> (this is what people know as <a href="https://en.wikipedia.org/wiki/Uncertainty_principle#Phase_space">the uncertainty principle</a>). And there are much more.</p>
<p>That makes me wonder if we would ever be able to really KNOW the universe around us. What's more, what we know now, could not be true, could be a result of our imperfect perception of the world.</p>
<p>As Carl Sagan said, "<em>Astronomy is a humbling and character-building experience</em>." I would go further and say, the study of whatever field of science is a humbling and character-building experience. "<em>You know nothing John Snow</em>", said the universe, when faced with our cute efforts to explore the unknown.</p>
<p>Put all your perceptions under test :-)<br />
You might be wrong!</p>
