---
layout: post
title: Hidden Figures
date: 2017-02-24 21:32:16.000000000 +01:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- diversity
- films
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---

<p>This post has <strong>spoilers</strong>, so if you haven't seen the movie, stop reading!</p>

<p>Today I went to see <a href="http://www.imdb.com/title/tt4846340/">Hidden Figures</a>, a 2 hours and 5 minutes movie based on a real story and <a href="https://www.harpercollins.co.uk/9780008201289/hidden-figures">a book of the same name by author Margot Lee Shetterly</a>. I'm a space nerd and I'm against injustices, so the movie resonated a lot with me.</p>

<figure>
  <img src="/images/uploads/2017/02/hidden-figures-0.jpg" width="928" height="523" alt="Mary, Katherine and Dorothy">
  <figcaption>Mary Jackson, Katherine Johnson and Dorothy Vaughan</figcaption>
</figure>

<p>The context is set in the sixties, when the US and Russia where competing to be first in the space career, and Russia had already sent a dog and a human to orbit the Earth. It shows us the story of three black women that worked for NASA at the time, doing the calculations needed for the space program.</p>

<p>At the time (early 60s) there were almost no computers as machines (computers were mostly humans, and mostly women, who had a training in maths). Marthin Luther King was rising. There was seggregation in the US, with "colored bathrooms" to be used by people of color, "colored areas" in libraries, and even colored offices, containing only black women, like the "colored computers" office we see in the film.</p>

<p>The sole idea of there being a time in some part of the world, where something like this happened BY LAW, breaks my heart. But if you think of many other events in history, you are reminded that the human race can be the worst thing in the universe.</p>

<p>The state of this segregation at the time was presented in the movie in both explicit and subtle ways. There are the scenes of Katherine running to go to the colored bathroom, which was in another building, far away, in a far away galaxy. This never happened in real life but was used in the movie as an explicit way to show the daily doses of racism black people suffer. It made me think how she was helping white men go to space, yet she was not allowed to go to the "white" bathroom in her floor. There is also the scene with Dorothy at the library, or the two water fountains labelled "white only" and "colored only".</p>

<p>More subtle were those offices full of perfectly white men wearing perfectly white shirts, and the same clothes, almost a uniform, as an homogeneus monochromatic background where a contrasting dark skin and colorful dress could pop. Same for the engineering class, when Mary arrives in her bright and shiny yellow blazer.</p>

<figure>
  <img src="/images/uploads/2017/02/hidden-figures-1.jpg" width="650" height="366" alt="Katherine in front of a white wave">
  <figcaption>Credits: 20TH CENTURY FOX</figcaption>
</figure>

<figure>
  <img src="/images/uploads/2017/02/hidden-figures-2.jpg" width="650" height="366" alt="Katherine in front of a white wave">
  <figcaption>Credits: 20TH CENTURY FOX</figcaption>
</figure>

<figure>
  <img src="/images/uploads/2017/02/hidden-figures-3.jpg" width="650" height="366" alt="Katherine in front of a white wave">
  <figcaption>Credits: 20TH CENTURY FOX</figcaption>
</figure>

<p>Another thing that apparently didn't happen either was Katherine's boss destroying the "colored bathroom" sign and being kind to her, letting her enter in the discussion rooms, etc. I guess the creators wanted to show an example of how you should act in those situations, specially if you are in a position of power; just do what feels right even if it means going against the current and breaking the unspoken laws. "<em>It has always been this way</em>" or "<em>that's how it is</em>" (a sentence repeated several times in the movie) is a lame way of thinking about problems. The scene of John Glenn asking to "<em>get the girl</em>" to check the calculations is apparetly true, as stated in <a href="https://www.nasa.gov/content/katherine-johnson-biography">Katherin's NASA page</a>.</p>

<p><strong>Things that I didn't quite like</strong> in the movie (you can love something and still see its defects) were the constant break of the fourth wall, like Mary's speech in one of the first scenes when they drive behind the policeman, or Dorothy saying "<em>There are quite a few woman working in the space program</em>" short before that, out of nowhere, or "<em>Here at NASA we all pee the same color!</em>" shouted by Kevin Costner right after destroying the bathroom signal, which also sounded so much as propaganda (haven't checked if NASA supported the film economically). In film as in code the "show(ask) don't tell" rule applies. Also the love story of Katherine was unnecessary in my opinion, although I think they wanted to use it to present her as a total nerd.</p>

<blockquote>
  <p>Oh, I'll tell you where to begin: Three Negro women chasing a white police officer down a highway in Hampton, Virginia in 1961. Ladies, that there is a God-ordained miracle!</p>
  <p style="text-align: right">&mdash; Mary Jackson</p>
</blockquote>

<p><strong>Things that I liked</strong>... a lot. Starting with all the spaceships and the labs, even though they didn't get a lot of screen time. First, what I believe was the first Sputnik, the one Russians launched just before Laika's Sputnik. At the time, the US was behind in the space race, and I wish it had stayed that way. The wind tunnel where they made the failing test for the Mercury spacecraft. John Glenn's Friendship spaceship launch. Seing all the steps of the ships as they get rid of unnecessary parts. And seeing the Earth from space. Just for this the movie was worth to watch.</p>

<p>Another thing I liked was the awesome acting job of the three protagonists. Congratulations to whoever hired them for this because they were EPIC in their roles. It is very sad that none of them knew about these women either. </p>

<p>Next, let's talk about Dorothy; what a BADASS. She learns that the computers are going to be replaced by machines and the team dissolved. What does she do? LEARNS TO CODE AND TEACHES HER TEAM. She goes to the colored section of the library to find programming books and can't find any? GOES TO THE WHITE SECTION. Gets kicked out by the security guy for doing so? STEALS THE BOOK ANYWAY. Secretly visits the computer machines because, if she doesn't learn by herself, nobody is gonna teach her, FIXES THE DAMN THING. In the movie, Mary had the support of her husband and Katherine the support of ther boss, but nobody seemed to be the direct supporter of Dorothy. By the way, she learned FORTRAN, which was so funny and also brings back memories because my old boss did everything in FORTRAN still in 2005, despite the language being maintained only until the end of the 90s.</p>

<p>I liked when Mary went to talk to the judge (wow, you had to ask a judge for permission to study engineering if you were black!). I also liked the scene where she is describing what's failing in John Glenn's ship, and right after, we see Kevin Costner saying the same thing XD. The actress did a great job in protraying the real Mary, she gave her a lot of swag and sass and rebelliousness. She made her one of those people who are cool to hang out with.</p>

<blockquote>
  <p>I plan on being an engineer at NASA, but I can't do that without taking them classes at that all-white high school, and I can't change the color of my skin. So I have no choice, but to be the first, which I can't do without you, sir. Your honor, out of all the cases you gon hear today, which one is gon matter hundred years from now? Which one is gon make you the first?</p>
  <p style="text-align: right">&mdash; Mary Jackson</p>
</blockquote>

<p>I also liked <a href="https://www.youtube.com/watch?v=eEJWtAMnAlA">the scene where Katherine is accused of being a Russian spy</a> and she says "<em>I'm not Russian</em>", lol. Certainly a Russian black woman could have been very exotic at the time. When she is pressured, she says "<em>I held it up to the light</em>". The lead engineer (played by the guy from Big Bang Theory) had censored the super-confidential information with such a weak tool.</p>

<p>A final great scene was that where Dorothy is finally promoted to supervisor, says "<em>thank you</em>", and Kirsten Dunst replies "<em>You are very welcome</em>", which is a typical reply but in this context is so loaded with meaning, in particular after their encounter in the bathroom (some parts of the script are this very well written).</p>

<blockquote>
  <p>So yes, they let women do some things at NASA, Mr. Johnson. And it's not because we wear skirts. It's because we wear glasses. Have a good day.</p>
  <p style="text-align: right">&mdash; Katherine Johnson</p>
</blockquote>

<p>Finally, I liked that each of them represented a different tech field: Katherine was maths, Mary was engineering, and Dorothy was computer science.</p>

<p>In summary, I liked the movie. The feeling I had at the end was, how many brains like these were lost to the stupidity of the time? how many brilliant brains are we missing today because we discriminate against those who don't look like us? who don't fit "the culture"? I also don't want history hiding these stories from me. I want to know about people like this, no matter their gender or skin color.</p>

<p>We keep treating people like shit, and sadly we have another recent example from last week in <a href="https://www.susanjfowler.com/blog/2017/2/19/reflecting-on-one-very-strange-year-at-uber">the story of Susan Fowler and her year at Uber</a>. Did you know that
<a href="https://fledglingphysicist.com/2013/12/12/if-susan-can-learn-physics-so-can-you/">she worked as a physics researcher for a while at the ATLAS experiment</a>? (she worked with Monte-Carlo generators, Geant4 and ROOT, just like me!) did they know what they had? did they care?</p>

<p>But the three women in the movie had something in common: they kept pushing and never complained. So much that it makes you feel weak. We are not trying enough in our lives, not when you compare it with how much they had to push. A reminder to feel grateful for what you have. We take what is given to us for granted, and pretend that it was meritocracy. The merit is really theirs, and of those who keep struggling.</p>

<blockquote>
  <p>The movie is about the unconcious bias, in my mind. The movie is about colored bathrooms and colored coffee pots and not getting promotions. Not getting paid what you're worth. Not being a supervisor, when you are qualified to become a supervisor. Not being able to go to a school to get a degree like Mary Jackson's character. Mary Jackson's character having the same degree as a man, but that degree is good for a man to be an engineer but not good enough for a female to be an engineer. Not putting your name on a report. That's what unconcious bias is for me and that's what the movie is about, all those things that are not overt per se but they permeate every aspect of civil rights, NASA and the struggles the country had back then, and the struggles we see today.</p>
  <p style="text-align: right">&mdash; Ted Melfi, writer and director of HF</p>
</blockquote>

<p><strong>Cache invalidation is hard, also for human brains</strong>. Sometimes we keep on doing things "as they always have been done", because following the inertia is easier, and so change happens very slowly. There have been some improvements since then, but we are far from where we should. It's difficult to see what part of our behaviour is trully ours and which is indoctrination and brain-washing from our environment and socio-cultural context, family, friends, teachers, media, human history, religion... the best you can do is think for yourself and constantly question what you've been told.</p>

<p>So I propose to take action: ask yourself why you believe what you believe. Why do we think this black guy in the street is going to attack us, why do we dismiss that woman's opinion and attribute her ideas to ourselves or another man, why do we blame a whole race based on a single black shooter but a white one is a "<a href="https://twitter.com/sallykohn/status/546701181310218240">mentally troubled lone wolf</a>", why do we choose to focus on the victim of a rape and blame her but totally forget to mention the actual CRIMINAL who just raped another human, why when asked about who are the people we look up to or who inspire us, the list is all-white and male, why we can't think of or recommend books written by women or people of color, etc. etc. etc. If this movie can teach us anything, it is both the ugliness and the greatness of the human condition. Be wise!.</p>

<hr>

<p>If you want to know the story behind the scene where the women march through NASA corridors to their next assignment, <a href="http://www.space.com/35145-hidden-figures-right-stuff-history.html" >read this</a>.</p>

<figure>
  <img src="/images/uploads/2017/02/hidden-figures-4.gif" width="480" height="202" alt="The black women march">
  <figcaption>The black women march scene</figcaption>
</figure>

<p>To know more about the real women behind the movie, <a href="https://www.scientificamerican.com/article/the-story-of-nasas-real-ldquo-hidden-figures-rdquo/?WT.mc_id=SA_TW_SPC_NEWS">Scientific American published an article about it</a>, or you can buy <a href="https://www.harpercollins.co.uk/9780008201289/hidden-figures">the original book Hidden Figures by author Margot Lee Shetterly</a>.</p>
