---
layout: post
title: The shape of water
date: 2017-12-05 09:18:53.000000000 +01:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- films
author:
  display_name: Octopus in vitro
---


<p>I went to see The Shape of Water! I love everything that Guillermo del Toro does. In particular anything with dark fantasy. This is my review.</p>

<h2>Good</h2>

<ul>
  <li>Female protagonist whose actress (Sally Hawkins) does one of the best interpretations I've seen in a while.</li>
  <li>The protagonist is not the typical Hollywood beauty and is mute. IN YOUR FACE HOLLYWOOD ✊.</li>
  <li>Octavia Fucking Spencer, she steals the show everytime she is on plane.</li>
  <li>The evolution of the bad guy, he starts clean, pristine, and ends up messy and as a loser.</li>
  <li>A weird and scifi movie wins the Oscar for best picture, and its super nerd director wins the best director. IN YOUR FACE HOLLYWOOD ✊.</li>
  <li>Dark fantasy ✨.</li>
  <li>Like in Pans labyrinth, the contrast between reality, harsh life, and a magical creature with special powers, is something that I really enjoyed.</li>
  <li>The relationships. The only normative relationship in the movie doesn't work, the bad guy has a brutal past and is unable to love anybody. This is contrasted with the gay character, who was just born in the wrong era, and the interspecies love between a fish man a the woman.</li>
  <li>The 1962 mad scientist vibe of that dark lab. Very Guillermo (Guillermo is a nerd for B-series entertainment).</li>
</ul>

<h2>Bad</h2>

<ul>
  <li>There were some plot holes.</li>
  <li>This point I will illustrate with a song:
    <blockquote>
    <p>🎶 Hey I just met you<br>
    And this is crazy<br>
    But here's my number<br>
    So call me maybe 🎵</p>
    </blockquote>
    I didn't have time to get used to the relationship, they just met and they are already in love. He has the brain of an animal or a 4 year old. She is alone. Maybe she is projecting? 🤔 I mean, it's obvious that they are both alone and don't belong to the world they are in, but...
  </li>
  <li>We don't know anything about the fish man, <a href="https://gizmodo.com/if-you-wanted-to-know-where-the-shape-of-waters-fishman-1821051561">there is no backstory either</a>.</li>
  <li>When he escapes, nobody sees him.</li>
  <li>When he enters the cinema and stays there for a long time, nobody sees him.</li>
  <li>I didn't like the dance scene.</li>
  <li>The end is a bit <em>Deux ex machina</em>.</li>
</ul>

<p>Overall I liked the movie, I think I would give it a 7.</p>
