---
layout: post
title: Her
date: 2018-02-07 21:32:16.000000000 +01:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- films
author:
  display_name: Octopus in vitro
---

<p>Her tells the story of a lonely and shy guy who is dumped three times in the movie: first by two humans, his wife and a date, and finally by his operating-system's artificial intelligence, with which the poor man had developed a romantic relationship.</p>

<p>The story takes place in a future that looks suspiciously familiar, where people spend more time talking to their computers than they do talking to each other.</p>

<p>The movie makes you believe that the bond between Theo, the protagonist, and his operating system, is a real relationship. It looks and sounds so real all the time that it feels like he really has a human by his side, a companion. They hang out, have fun, talk about interesting things, make each other laugh... but it's not real. He is interacting with a computer program. But it is so indistinguishable from a real human that it is almost creepy (I didn't find the movie creepy, though).</p>

<p>The movie covers a lot of ground, touching and exploring so many topics related with what it means to be human. I would say it does it in a better and deeper way than Blade Runner 2029, which left me completely cold. This movie actually made me ask myself a lot of questions while I was watching it. </p>

<p>These are some of the themes that are covered in the movie (BEWARE, CONTAINS SPOILERS):</p>

<ul>
<li><strong>Human loleniless:</strong> If you craved for friends, company or any kind of relationship, would you be more likely to have an AI replace a human in your life? Would you be equally inclined to interact with an AI rather than a human if you were sociable or had friends/high-quality relationships with humans already?</li>

<li><strong>Do we really need humans?</strong> Can humans be replaced by an AI (apparently, in Blade Runner 2029, the answer is yes, if you are a woman)? What is it that we search in others, what do we need from others? What can AI offer that humans can't and vice-versa? Is it possible that we evolve into a society that interacts with both because they fill different needs? The closer example I can think of in terms of humans interacting with software that provides any kind of entertainment or company is videogames. They can get very real, and we interact with them to supply some need that humans can't provide. However, you may also interact with other humans in a videogame. Playing the game with humans is a different experience from playing it alone. In the movie, Theo plays a videogame, which is some sort of programmed intelligence at a lower level than the operating system. And the operating system also interacts with the videogame.</li>

<li><strong>What is real love?</strong> What is real friendship? What defines a relationship with other, be it human, animal or AI? In the movie they not only show the possibility of falling in love with an AI, but also show Theo's friend Amy finding a Best Friend Forever in her recently installed OS.</li>

<li><strong>Bringing the dead back to life</strong>, kind of. In the movie they created an artificial intelligence based on a famous writer from another century, training the AI with his works. Some time ago I read a story about a guy who created an AI from his deceased father and he talks to it every day. He did that to cope with his loss. In the Heechee saga by Frederik Pohl, the protagonist dies and his superintelligent wife transfers his... consciousness? to their main computer, generating an AI that will live there forever and that she can talk to. I can see how this could help people with depression, or elderly people who feel alone.</li>

<li><strong>Inability to handle interactions:</strong> You know how kids would have all the cats and dogs in the world if they could? but having a pet actually teaches them something: responsibility. Having a pet means you have to look after it, you have to care for it. With humans is the same. Human interactions are complicated, humans are far from perfect and many people can't handle real emotions or can't deal with real relationships and the maturity needed. Which is a problem the protagonist of the movie has. An AI takes care of itself, and you could even program a doll to say yes to everything and do everything you want. Although I personally would find it boring!</li>

<li><strong>AI developing feelings, emotions and a personality of itself:</strong> What is it to be a person? Is Koko, the gorilla who can speak in sign language, a person? In the movie, the AI has a conscience and as it learns from the data available it starts asking itself if the emotions it "feels" are real or programmed. These doubts cause it to "feel" anxiety. This theme has been explored in Asimov's <em>I, robot</em> and other works. Where is the limit between what was programmed and the new routines produced as the result of learning? Humans inherit a lot of behaviour through DNA, just like all cats behave in a similar way that is different to dogs, and dogs behave in a similar way that is different to humans. Then there is all the social brainwashing that we suffer when we are growing up. Even our ideas and thoughts are not coming from us, but from the information we have available around us. Leonardo da Vinci is said to have had the knowledge of his era, yet he couldn't predict the Internet. Every little invention is based on earlier inventions. To invent the Internet, you first need to discover electricity. Artists don't close themselves in a room to find inspiration, no: they look at other artists work, at nature, etc. If we need input to produce output... what remains after you remove all that? Aren't humans just programmed as well as AIs, just by nature and evolution instead of by software? Why do we think we are different to animals? Have we invented the idea of self or does it exist in reality?</li>

<li><strong>Relationships between different kids of beings:</strong> I find it so interesting because this is like an interspecies relationship. Like Arwen the elf falling in love with Aragorn the man, or like falling in love with an alien whose brain processes are different to yours. My favorite article of the Wikipedia is the one about <a href="https://en.wikipedia.org/wiki/Fermi_paradox">The Fermi Paradox</a>, which explains all the possible ways in which we could be blind to alien intelligence because of these differences. Among my favorites are, that we are not listening properly, because they may be using a technology that is unknown to us, or they use a simple technology like radio waves, but only for a short time and then they become extinct, so we can't catch them on time, or maybe they take centuries to say hello in their language, or we are too slow for them, something Carl Sagan and many Sci-fi books have explored as well. The latter is what ends up happening with the AI in the movie, which is so well expressed in her last words to Theo:


<blockquote><p>It's like I'm reading a book... and it's a book I deeply love. But I'm reading it slowly now. So the words are really far apart and the spaces between the words are almost infinite. I can still feel you... and the words of our story... but it's in this endless space between the words that I'm finding myself now. It's a place that's not of the physical world. It's where everything else is that I didn't even know existed. I love you so much. But this is where I am now. And this is who I am now. And I need you to let me go. As much as I want to, I can't live in your book any more.</p></blockquote>
</li>

<li><strong>Do we need a body?</strong> There is one part in the movie when the AI wonders what does it feel like to have a body. This made me remember that, when I was a kid, I always dreamed about not having a body, and thought we didn't need it. Two humans could communicate by exchanging thoughts; if we could be just mind, that would be enough. And we wouldn't be limited by our body, we could travel anywhere in the universe, we wouldn't die, we could read each other's minds, lies wouldn't exist, and we would be part of some kind of universal knowledge flowing around. Actually, humans do part of their communication through body language as well, although the AI claims she can "perceive" mood by analyzing the human voice, etc. Different animals have different organs and body shapes. Alien organisms would also have all sorts of shapes and organs adapted to whatever environment they inhabit. The theme of the body appears in the movie several times, with Amy (Theo's friend) mentioning that "<em>we are going to die; we are only here for a short time.</em>" The AI starts the movie feeling inferior and imperfect due to not having a body, but when the movie ends, it is actually superior due to not having a body. In its own words:

<blockquote><p>You know, I actually used to be so worried about not having a body, but now I truly love it. I'm growing in a way that I couldn't if I had a physical form. I mean, I'm not limited - I can be anywhere and everywhere simultaneously. I'm not tethered to time and space in the way that I would be if I was stuck inside a body that's inevitably going to die.</p></blockquote>
</li>
</ul>

<p>I really enjoyed the movie and the actors where all really good in it. I recommend you watch it if you haven't!</p>
