---
layout: post
title: I am learning to play drums
date: 2018-12-27 20:00:00.000000000 +00:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- music
featured_image: /images/uploads/2018/12/practice-pad.jpg
featured_image_alt: 'Drumeo practice pad'
author:
  display_name: Octopus in vitro
---

<p>I started music theory classes when I was about 4, and classic piano classes when I was around 10-11. These were out of school hours, but we also had a music class in school hours, where we learnt to play the flute. Then I learnt Spanish guitar when I was a teenager. I've been playing and writing music for those instruments since.</p>

<p>However, I've always been interested in <strong>percussion</strong>. In particular the more tribal styles like Middle East and Brazilian percussion. There is something very visceral and intense about them. For some reason, it never crossed my mind to try and learn to play any kind of percussion instrument. On my birthday some years ago, my friend Yoko gave me a toy djembe, and that was the first time I started watching Youtube videos to teach myself to play.</p>

<p>I don't know why it took me so long to decide to start learning to play drums, but recently some friends and I were thinking of starting a band and I decided to give drums a try (this would be my fourth band if we go ahead with it haha oh no wish me luck).</p>

<p>I've been drumming for a couple of months now, and it's been a blast. But it took me a while to get started properly, so I thought I'd write my journey, in case it is useful to anyone.</p>


<h2 id="where-to-start">Where to start</h2>

<p>I started getting <strong>a pair of sticks</strong>. You need to learn how to hold them properly, how to rebound properly, etc. You don't need to buy a <strong>practice pad</strong> yet, since you can already start playing around surfaces in your house, but it's nice to have one.</p>

<p>There are plenty of guides on the Internet on how to buy sticks or how to buy practice pads, as there are several types (I was very lucky and I got to babysit the electric drumkit of a friend). If you don't want to make noise you can buy rubber tips for your sticks or play on a pillow.</p>

<figure>
  <div style="display:flex;justify-content:center;align-items:center">
    <img src="<%= image_host %>/images/uploads/2018/12/drumsticks.png" width="300" height="206" alt="a selection of drumstics">
    <img src="<%= image_host %>/images/uploads/2018/12/practice-pad.jpg" width="300" height="215" alt="a practice pad">
    <img src="<%= image_host %>/images/uploads/2018/12/rubber-tips.jpg" width="300" height="176" alt="some rubber tips">
  </div>
  <figcaption><span>Customized sticks, Drumeo's practice pad and rubber tips</span></figcaption>
</figure>

<p>The other thing you need is <strong>a metronome</strong>. Always practice to a metronome. You are the drummer, you have to develop your internal clock so that you can play without one, and we tend to speed up time, in particular when we know the song or we are having fun. Smartphones usually come with a metronome, or you could find an app.</p>

<p>You definitely don't need a full drumkit to start practicing, but it's a good idea to find a studio in your area that allows you to book a reshearshal room so that you can <strong>play in a real drumkit</strong>. They would usually rent you the cymbals separately, and you will have to mount the cymbals yourself. Don't worry, there are plenty of videos in YouTube showing how to do that. The reason that cymbals are separate is that most drummers bring their own breakables to rehearsals and gigs. This would usually include cymbals and kick pedal (although studios supply the pedal as standard with the kit). The reason for this is that these things tend to break so, at gigs, drummers do not want to share with other drummers, knowing that their cymbals may be broken by the time they get to play themselves. The quantity and type of cymbals used are also fundamental in any drummer’s sound, so most would prefer to use their own gear wherever possible.</p>

<p>Finally, <strong>prepare to arm yourself with lots of patience</strong>. Learning drums is not like learning guitar or piano, where you can sound kind of decent after a year or two. Playing drums needs the coordination of four limbs and being able to move them independently, each playing different patterns. Every day I have more and more respect for drummers.</p>


<h2 id="where-to-learn">Where to learn</h2>

<p>When I started learning, I thought about <strong>finding a teacher</strong>. This option didn't work for me personally, but it may work for you. In my case, they were expensive and I didn't have the guarantee that they were going to be good. What I had in mind was somebody like <a href="https://www.youtube.com/user/DrummerEtc">Stephen Taylor</a>, who's been playing and teaching professionally for more than 25 years.</p>

<p>This is what I was searching for:</p>

<ul>
  <li>Oriented to people with zero knowledge.</li>
  <li>Structured learning method with incremental complexity.</li>
  <li>Good technique from lesson one.</li>
  <li>Teaches how to hold the sticks properly, how to sit properly, etc.</li>
  <li>Explains the drumkit, and what each item is intended for.</li>
  <li>Develops intuition to know what to hit next.</li>
  <li>Plenty of exercises.</li>
</ul>

<p>So I realized that it is 2018 and there are plenty of good quality resources online, including Stephen Taylor himself and <a href="https://www.youtube.com/c/freedrumlessons/videos">drumeo</a>, but their lessons are kind of scattered and the videos are not organized. It took me a while to find a decent group of <strong>organized lessons</strong> from zero to beginner to intermediate to advanced, etc. There is a lot of material for guitar but not so much for drums.</p>

<p>This is what I found:</p>

<ul>
  <li>
    <p><a href="https://www.youtube.com/playlist?list=PLtegXdELG9Q-RNrIzLTUwkGHIVJds0z8I">HuestisMusic DPM - Video Lessons and Tutorials</a>: This is a YouTube playlist that teaches you the basics from scratch, how to hold the sticks, etc. You will have to skip some of the videos, as there are instructions for other percussion instruments as well as drumkits.</p>
  </li>
  <li>
    <p><a href="https://www.youtube.com/playlist?list=PLImrzCNnL5PkejUOlF0TX4rx7LZYaXjyD">Music College TV - Learn Drums - Beginner Lessons</a>:
      This is another YouTube playlist. They have <a href="https://www.youtube.com/playlist?list=PLImrzCNnL5PkRCBWmb2UyrsONC1y_bvA2">intermediate</a> and <a href="https://www.youtube.com/playlist?list=PLImrzCNnL5PmzgXAdSa8fMSAFkvU61u7u">advanced</a> playlists as well.</p>
    </li>
  </ul>

  <p>With these two playlists, I was in a good place to <strong>start a daily-one-hour practice routine</strong> that was organized by incremental complexity and covered all the things in my list. I would sit with the sticks and follow along, practicing one video every day until I learnt the whole video. The good thing about <strong>learning from a video</strong> is that you can take the class whenever you have time and you can pause and replay as many times as you need. And you can also slow it down or speed it up.</p>

  <p>Drumeo is the best resource for drumming videos, so you should check their channel often.</p>

  <h2 id="what-to-learn">What to learn</h2>

  <p>Once you are past the very basics, you need a focused practice. These are some of the things you need to focus on:</p>

  <ul>
    <li><strong>Rudiments</strong>, i.e., repetitions of singles, doubles, paradiddles, etc. They are like practicing scales on piano, or eating your vegetables: boring, but crucial. It's recommended to practice them with your feet as well. I follow this Drumeo YouTube list: <a href="https://www.youtube.com/playlist?list=PLThYwnIoLwyV_4OVK8Oj3idnHqX3qnTNR">Learn All 40 Drum Rudiments</a>. </li>
    <li>Precision and <strong>control of the sticks</strong>, this is more important that getting fast. <a href="https://www.youtube.com/user/freedrumlessons/search?query=stick+control">Drumeo has many videos with exercises</a>. I also recommend the classic book <a href="https://www.amazon.co.uk/Stick-Control-George-Lawrence-Stone/dp/1607965798/">Stick control for the snare drummer</a>.</li>
    <li><strong>Triplets</strong>, <strong>Rolls</strong>, <strong>Rim-shots</strong>, <strong>Cross-stick</strong>, <strong>Flams</strong>, <strong>Ghost notes</strong>, again <a href="https://www.youtube.com/user/freedrumlessons/search?query=ghost+notes">Drumeo has videos of many levels</a>.</li>
    <li>Limb <strong>independence</strong>. More Drumeo <a href="https://www.youtube.com/user/freedrumlessons/search?query=independence">videos at several levels with independence exercises</a>.</li>
    <li><strong>Double bass</strong>, check out <a href="https://www.youtube.com/user/freedrumlessons/search?query=double+bass">Drumeo's many videos</a>, there are different tecniques for you to learn.</li>
    <li><strong>Speed</strong>. I follow Drumeo's <a href="https://www.youtube.com/playlist?list=PLThYwnIoLwyUDM90-AKKRKz1YRgwjccF8">Fastest Way To Get Faster</a>.</li>
    <li>and many more.</li>
  </ul>

  <p>I linked to a lot of Drumeo videos, but I also recommend <a href="https://www.youtube.com/user/DrummerEtc/videos">Stephen Taylor's videos</a>. What I like about him is that he does not only explain drums but also <strong>the mindset behind it</strong>: don't just do a practice, do a <em>focused</em> practice, be patient, be professional, be disciplined, be motivated, etc. He talks about all the stuff beyond the drums, beyond the "<em>here's how to do a jazz groove</em>".</p>

  <p>Also, Stephen Taylor has <a href="https://youtu.be/XKaST7sII-E">an example video of what a really good practice session looks like</a>.</p>

  <p>Finally, as you practice you should also <strong>learn some of the songs you like</strong>! I think <a href="https://songsterr.com">Songsterr</a> is a good resource for drum tabs, because it has a play-along with the other instruments and a cursor, so you can always hear the song in the background as well as know exactly where in the song you are. The first song I learnt with Songsterr was <a href="https://www.songsterr.com/a/wsa/gojira-silvera-drum-tab-s406784t4">Silvera, from the band Gojira</a>.</p>

  <h2 id="random-tips">Random tips</h2>

  <ul>
    <li>It takes approximately 3-6 years to get good at drumming, be patient.</li>
    <li>Practicing 1 hour per day, several days of the week, is better than practicing 5 hours on only one out of seven days of the entire week.</li>
    <li>Have a goal each time you practice, don't just play stuff you already know how to play.</li>
    <li>Always practice to a metronome.</li>
    <li>Find some stretching exercises for your wrists, arms, shoulders, back and legs, and warm up before playing. Being fit helps too.</li>
    <li>Don't sacrifice control for speed.</li>
    <li>Don't sacrifice the beat for showing off.</li>
    <li>Don't sacrifice what the song needs for showing off. <a href="https://www.youtube.com/watch?v=9oQsKRyihEA">Brandon Khoo explains this well here</a>.</li>
  </ul>

  <h3 id="beginner-tips">Beginner tips</h3>

  <ul>
    <li>Master beats at a slow tempo, and only then master them at increasingly faster tempos (from 80 to 160+ BPM). Then master variations of the beat. But always start slow.</li>
    <li>Master the same beats with just your feet.</li>
    <li>Play patterns on your hands and feet, simultaneously.</li>
    <li>Master triplets, rolls, rim-shots, flams, ghost notes.</li>
    <li>Mess around and have fun and play whatever you can/want, as well as playing along with songs you like.</li>
    <li>Be able to play everything with and without a metronome or song (guess what, <a href="https://www.youtube.com/watch?v=zk3eVDK1PPE">Drumeo also has a video on that topic</a>).</li>
  </ul>

  <h3 id="intermediate-tips">Intermediate tips</h3>

  <ul>
    <li>Be able to play different time signatures. Check out Anika Nilles <a href="https://www.youtube.com/watch?v=C1AtfdNKYug">video about quintuplets</a> or Camille Bigeault's video on <a href="https://www.youtube.com/watch?v=zV5vUVNcEQA">Groove illusions</a>.</li>
    <li>Be able to play different styles, such as jazz, samba, etc.</li>
    <li>Master playing two or three 16th notes as a single-pedal kick. <a href="https://www.youtube.com/watch?v=xCCJyYIBK9s">Drumeo has a video on 3 different ways to do a double</a>.</li>
    <li>Learn to play 16th notes on the hi-hat with one hand instead of two. There are techniques for this, like sweeping or sliding the stick. Check out these videos of <a href="https://www.youtube.com/watch?v=aj3hx3s8Trg">Gina Knight</a> and <a href="https://www.youtube.com/watch?v=Xs2nGgnL0Nw">Todd Sucherman</a>.</li>
    <li>Master metal brushes.</li>
    <li>Master your playing speed to 200+ BPM.</li>
  </ul>

  <h3 id="other-stuff-to-practice">Other stuff to practice</h3>

  <ul>
    <li>Talk or sing while playing drums at the same time. <a href="https://www.youtube.com/watch?v=wx6L-xBZ2wo">Gina Knight is the queen here</a>.</li>
    <li>Put drums to human voice, <a href="https://www.youtube.com/watch?v=InbaU387Wl8">like this guy</a>.</li>
    <li>Learn stick tricks, throws, etc. Yes, <a href="https://www.youtube.com/watch?v=Izrhd9bT6uE">there is a Drumeo video for that too!</a>.</li>
    <li>Try a more creative drumming, Scott Pellegrom style. <a href="https://www.youtube.com/watch?v=64K6f41IQls">Play with other objects</a>, or <a href="https://www.youtube.com/watch?v=4LwaSleY1Vc">in a reduced kit</a>.</li>
  </ul>

  <h2>Some inspirational drummers</h2>

  <ul>
    <li><a href="https://www.youtube.com/watch?v=RiD4STAUTxg">Sheila -Fucking- Escovedo</a>, the latin and rock master, raised as a musician in the band of Tito Puente, also played for Prince. She has the best sense of rhythm, and knows how to get the best of every item on the drum kit, has amazing intuition to know exactly when and how to use each, sings, plays all kinds of percussion instruments and rocks those drums like nobody.</li>
    <li><a href="https://www.youtube.com/watch?v=HTr7bqKHvgE">Mario Duplantier, from Gojira</a>, the metal god. He is super technical but also has written some of the most creative drums I've ever heard. On top of that his grooves are the best, and I love what he does with a double pedal. Examples of all this are The Art of Dying, Flying whales or Silvera.</li>
    <li><a href="https://www.youtube.com/watch?v=IlcMRq3gb1s">Meg White</a> because she nails it. Queen of effective simplicity, she is an example of knowing what a song needs and delivering exactly that. Simple is not easy!</li>
    <li><a href="https://www.youtube.com/watch?v=axGn6qeJHcM">Tomas Haake, from Messugah</a>, a.k.a. the god of polyrhythms. His drums give the band its characteristic off beat feel that you can't really headbang to, by playing a standard 4/4 beat with his right hand and polyrhythms with everything else.</li>
    <li><a href="https://www.youtube.com/watch?v=3gpzNepg1fw">Cindy Blackman</a>, passion on fire. She has played for Lenny Kravitz and Santana. She is the perfect example of how to play with pure soul, passion and feeling, perfect technique, I love her stick control and accents.</li>
    <li><a href="https://www.youtube.com/watch?v=6YUJit9iNE0">Igor Cavalera</a>, the tribal sound, because Sepultura just before Max left was starting to move towards that tribal percussion sound that was later developed fully in Soulfly and that I was refering to at the beginning of this post. Very primal and very Brazilian. I love it!.</li>
    <li><a href="https://www.youtube.com/watch?v=V5YDxDuyKDI">Senri Kawaguchi</a>, because she is a badass godess that can play absolutely any kind of music with impecable technique. Whatever you do, there is always a Japanese kid who does it better.</li>
  </ul>
