---
layout: post
title: Lockhart's lament gone wrong
date: 2022-09-14 11:36:00.000000000 +00:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- books
author:
  display_name: Octopus in vitro
---


<p>I just read Lockhart's lament... or should I say, <em>rant</em>?</p>

<p>The essay is about how the education system needs a reform so that the math curricula doesn't make students hate math, find it boring, or just think they are not good at it. He also seems to blame the teachers although he denies it later.</p>

<p>I agree with the main point of the essay but critique that he doesn't offer any solution or define any alternative curricula. His style of writing, portraying math as some metaphysical gift from the gods, made it very annoying to read for me personally.</p>

<p>I'll review the things I liked, then the things I didn't like, and finish with a comment on his writing style.</p>

<p>I recommend <a href="https://www.youtube.com/watch?v=ny61lc2xiZk">this video by Jaime Altozano</a> (in Spanish sorry! but it has English subtitles) where he makes the same point that Paul, but in a much more articulated and efficient way.</p>


<h2>Things I liked</h2>

<p>To illustrate his point about how badly maths are taught, he starts with a made-up example where he imagines how music teaching would look like if it was taught how maths are taught. Then he does the same with painting classes.</p>

<p>I never took painting classes although I have been drawing my whole life. But I did took music theory when I was four years old and piano when I was ten. My teacher didn't do any of the things described in these first paragraphs of the essay.</p>

<p>However, when I think of both my math and physics classes, the nightmare described in the essay is exactly what happened to me, even at university.</p>

<h3>My teaching experience</h3>

<p>The example makes the point that math teaching is very <strong>theoretical</strong>. But for teaching to be successful, you have to mix theory and practice from day one. Which is what my music teacher did. I have taught several topics in my life, and in some cases I would even start with practice first and introduce the theory later. Makes theory make more sense.</p>

<p>While I was at uni studying physics, I helped some kids with their school physics and maths homework. They all mentioned how the important thing when solving their homework exercises was to use the formula exactly how it was given to them. They had been told to memorize it, but they didn't understand what the it meant at all, or why it had those parameters.</p>

<p>Formulas or equations express a relationship between the parameters, so you could move the parameters around and create new formulas, you don't have to stick to just one expression. For example, velocity is distance over time, <code class="language-plaintext">v = d / t</code>, but from there you know that distance is velocity by time <code class="language-plaintext">d = vt</code>, and time is distance over velocity <code class="language-plaintext">t = d / v</code>. The relationship between velocity, distance and time means you can move them around, but my students came stuck on <code class="language-plaintext">v = d / t</code>.</p>

<p>Those students were preparing to pass an exam, they aimed for a <em>grade</em>, they didn't study to <em>learn</em> something.</p>

<h3>My student experience</h3>

<p>I remember my physics book at high school had a description of how to obtain these formulas, before presenting the formulas to you.</p>

<p>For example, for the force of gravity it would start by mentioning that since the presence of mass makes gravity appear, it makes sense that the force of gravity is proportional to the mass of an object, so that the more massive the object is, the more force of gravity it generates. So when calculating the force between two objects, it makes sense to multiply the two masses being affected. As per our everyday experience, gravity also decreases with distance, so that the closer two objects are, the bigger is the force they feel. Hence, we divide the product of the masses by the distance. Squaring the distance makes the effect even bigger, and describes experimental observations better. Finally, the force of gravity is the weakest of the forces, so we multiply it by a very small constant, to scale it correctly. This constant has many zeroes after the comma, that's how weak gravity is, and why you need massive objects like stars and planets to see or experience any effects of gravity. Mass one and mass two could be humongous but the force gets all reduced to its real value thanks to the tiny value of the constant G.</p>

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/48f74b3b4d591ba1996c4d481f74ac3ab7e279d7" width="114" height="40">

<p>You don't have to memorize this formula anymore, you have already internalized it, it's in your system now. And every time you see it, you will know what it means. And you can swap the parameters around because you understand the relationships between them. Most of the formulas in the book were presented like this.</p>

<p>I loved my physics book and it made me so sad that my teachers made us buy it but never used it in class (it was NOT a cheap book). I did enjoy maths too, later they would be very useful as I went through my physics degree.</p>

<h3>Math being an art as much as a science</h3>

<p>I don't agree that there is no science to math as the essay states, but I do agree that there is a lot of art in it. And there is indeed pain in doing art. I am not only a physicist that likes and gets math, I am also an illustrator and a musician. The pain is real. And I wish we saw a bit more of the artistic side of math in class:</p>

<blockquote>
<p>I'm complaining about the complete absence of art and invention, history and philosophy, context and perspective from the mathematics curriculum. That doesn't mean that notation, technique, and the development of a knowledge base have no place. Of course they do. We should have both.</p>
</blockquote>

<blockquote>
<p>If teaching is reduced to mere data transmission, if there is no sharing of excitement and wonder, if teachers themselves are passive recipients of information and not creators of new ideas, what hope is there for their students?</p>
</blockquote>

<p>There is a bit of teacher-blaming at the end of this excerpt which I don't agree with (more about that in the next section). But in general I would say this is maybe the problem, the lack of illusion and excitement because the system doesn't allow for it.</p>

<p>I compiled some of the things he introduced that are taught as bureaucratic dogmas but are given no meaningful mathematical experience. They made me think about the way I learned them:</p>

<ul>
  <li>introducing mnemotechnic rules to memorize formulas like &quot;how nice someone's <em>two pies are</em>&quot; for the circumference of a circle <code class="language-plaintext">C = 2πr</code> and how their &quot;pies are square&quot; for its area <code class="language-plaintext">A = πr²</code>
  </li>

  <li>
  <code class="language-plaintext">2 1/2</code> is a &quot;mixed number,&quot; while <code class="language-plaintext">5/2</code> is an &quot;improper fraction&quot;</li>

  <li>&quot;quadrilateral&quot; instead of &quot;four-sided shape&quot;</li>

  <li>
  <code class="language-plaintext">sec x</code>, as an old abbreviation that is still in use for the reciprocal of the cosine function, <code class="language-plaintext">1 / cos x</code>
  </li>

  <li>symbols like <code class="language-plaintext">sin</code>, <code class="language-plaintext">log</code>, <code class="language-plaintext">f(x)</code>, and later on, <code class="language-plaintext">d</code> and <code class="language-plaintext">∫</code>
  </li>

  <li>calculate <code class="language-plaintext">[ f(x + h) – f(x) ] / h</code> for various functions <code class="language-plaintext">f</code> (I agree with this one because functions should be taught in a real world context and not just as isolated math topics)</li>
</ul>

<p>So regarding the point he is trying to make, I agree, the education system sucks and we should burn it down and rebuild it from scratch. BUT, I think this idea could have been presented in a better way. Let me explain why.</p>

<h2>Things I didn't like</h2>

<h3>Mathematicians as &quot;Superior Beings&quot;</h3>

<p>I didn't like the part when he describes what mathematicians do, because although some of the things he says are true, the way he communicates it comes out as a bit pretentious. I do agree that math is as much an art as it is science, and misunderstood too, but expressions like &quot;Mathematics is the purest of the arts&quot;… make me think, really? are we still there?</p>

<p>At some point it sounds like he is speaking about mathematicians as Superior Beings. Look at this sentence:</p>

<blockquote>
<p>&quot;That little narrative is an example of the mathematician's art: asking simple and elegant questions about our imaginary creations, and crafting satisfying and beautiful explanations.&quot;</p>
</blockquote>

<p>The following paragraph illustrates another issue I have with the essay: his writing style sounds like a &quot;mystical mumbo-jumbo&quot;, as he calls it himself (at least he is aware of it):</p>

<blockquote>
<p>To do mathematics is to engage in an act of discovery and conjecture, intuition and inspiration; to be in a state of confusion— not because it makes no sense to you, but because you gave it sense and you still don't understand what your creation is up to; to have a breakthrough idea; to be frustrated as an artist; to be awed and overwhelmed by an almost painful beauty; to be alive, damn it.</p>
</blockquote>

<p>PLEASE 😂</p>

<p>Paul.</p>

<p>What a crescendo of a paragraph, ending with &quot;…to be alive!&quot; I almost see the sky opening and the angels singing. I like math and this paragraph is too much, like idolizing math or something.</p>

<p>Except for ancient history, which is amazing to me, I find history boring, in the same way some people find maths boring (thanks to the educational system, of course). If someone came to me and said this about history, I would laugh a bit inside. Like I am doing now.</p>

<p>I don't think we see math in the same way. Saying that math is interesting in itself is an "absolute" statement that not everyone has to agree with. There are a lot of physicists specialized in Geology and they could talk about rocks for hours. I am passionate about physics, but I am not that excited about rocks. I would say nature and the universe are interesting by themselves, with all the stuff that they have going on, yet some people need religion and a god to make it interesting.</p>

<h3>Teacher-blaming</h3>

<p>Another issue for me is how he blames teachers. As if they didn't have enough being powerless, overworked, underpaid and sometimes even bullied by the students. The following extract sounds like gatekeeping to me:</p>

<blockquote>
<p>Why is it that we accept math teachers who have never produced an original piece of mathematics, […] What kind of a teacher is that? […]  Now I'm not saying that math teachers need to be professional mathematicians— far from it. But shouldn't they at least understand what mathematics is, be good at it, and enjoy doing it?</p>
</blockquote>

<p>Paul is a mathematician, who supposedly understands statistics. He should know that producing a work of math has a lot to do with privilege. As does having to enjoy a job in order to do it. Everyone needs a job to pay rent and stuff. Math teachers studied math because they probably liked math as kids, and then got soul-crushed by the system just like the students.</p>

<p>He keeps saying things like:</p>

<blockquote>
<p>I should say, if you need a method you're probably not a very good teacher. If you don't have enough of a feeling for your subject to be able to talk about it in your own voice, in a natural and spontaneous way, how well could you understand it?</p>
</blockquote>

<p>Feels almost like he is the authority deciding who gets a &quot;math-teacher card&quot; that confirms you are a legit teacher (legit by the standards of a random guy called Paul who wrote a rant). He is focusing on the wrong problem here. Teachers are maybe 10% or less of the issue with math curricula.</p>

<p>I am surprised that at some point later on he says:</p>

<blockquote>
— So you blame the math teachers?<br>
— No, I blame the culture that produces them.
</blockquote>

<p>🥲 lol.</p>

<h3>Despising math's practical applications</h3>

<p>Another issue for me is that he keeps insisting in the beauty of mathematics coming from the &quot;irrelevance&quot; of its abstractions, and that math doesn't have to be done for its practical purposes but as an art, for mere entertainment…</p>

<p>Paul, dude, calm down. Most math was created to model and explain phenomena observed in &quot;the real world.&quot; Mathematics created in every period of human history appeared in response to actual world problems. <strong>There is nothing wrong with that and it doesn't stop anyone from enjoying maths as art or entertainment</strong>.</p>

<ul>
<li>Geometry, one of the oldest parts of math, was developed to meet some practical needs in surveying, construction, astronomy and various crafts in the ancient world.</li>
<li>We use a degree system based on the number 60 because Sumerians and Babylonians invented trigonometry and spherical coordinates so they could mark the positions of the starts in the sky.</li>
<li>Statistics was used in early empires who collated censuses of the population, and it was also used to decipher encoded messages during the Islamic Golden Age.</li>
<li>Newton and Leibniz literally developed differential calculus for practical reasons, Newton did it so he could explain how some of his physics ideas worked, like the concepts of velocity and acceleration, and Leibniz because he wanted to calculate things like the area under a function/curve.</li>
</ul>

<p>There was always a practical intention and an objective to create new math. Rarely we see maths created for the sole purpose of entertainment, but anyone can do it!</p>

<p>Remember what I quoted in the first section of this post?</p>

<blockquote>
<p>I'm complaining about the complete absence of art and invention, history and philosophy, context and perspective from the mathematics curriculum.</p>
</blockquote>

<p>Well, Paul, it seems you didn't apply your own words to yourself.</p>

<h3>No proposal whatsoever</h3>

<p>At the end my biggest critique is that he does not give a clear alternative, although he speaks a lot about the &quot;intellectual relationship&quot; you should have with your students, but how do you achieve that? and that you should &quot;show them the beauty of trying to solve problems by themselves&quot;, but, how would you grade that? would he abolish grades too?</p>

<p>I mean, I think we should, but that is a topic for another day. The thing is he doesn't even propose that. He doesn't propose anything.</p>

<p>Not everyone is good at painting or music. What happens with the students who are indeed not good at math in the sense of the point he is making in his essay? Wouldn't those kids feel like idiots because they can't see &quot;the beauty&quot; and &quot;feel alive&quot; and &quot;come up with creative solutions to problems by themselves&quot;? What would he do with kids that are not good at &quot;discovering patterns, making conjectures, constructing examples and counterexamples, devising arguments, and critiquing each other's work&quot;?</p>

<p>I get that maybe everybody would be better at those things if we had a different educational system where we apply this idea to all subjects from primary school. I totally believe in doing these things. Still, this type of teaching doesn't make a math curriculum. How would these activities work in a current class unless you rebuild the whole system?</p>

<p>For example, when he comments on his student's own explanation for a geometrical statement, he adds &quot;Of course it took several days, and was the end result of a long sequence of failures.&quot; How do you fit this with normal school?</p>

<p>I need him to <strong>turn his rant into a more useful, proactive, constructive and clear plan of what he means by a good math curricula</strong>, and it needs to be practical, not just a bunch of esoteric and poetic words about the grandiosity of math and mathematicians.</p>

<p>He finishes with &quot;The Standard School Mathematics Curriculum&quot;, and I wish it was &quot;Paul Lockhart's School Mathematics Curriculum&quot; (you know, his proposal), but instead, it's more bashing on the actual system.</p>

<p>Give us a proposal, Paul.</p>

<h2>The style of writing</h2>

<p>I mentioned some of the issues I have with his grandiloquent style of writing, but let's examine this particular example:</p>

<blockquote>
<p>&quot;A proof, that is, a mathematical argument, is a work of fiction, a poem. Its goal is to satisfy. A beautiful proof should explain, and it should explain clearly, deeply, and elegantly. A well-written, well-crafted argument should feel like a splash of cool water, and be a beacon of light— it should refresh the spirit and illuminate the mind. And it should be charming.</p>
</blockquote>

<p>The problem of &quot;mystical mumbo-jumbo&quot; like this is that is not precise.</p>

<p>If the goal is to satisfy, who are we satisfying? Because that is a pretty subjective goal. Imagine you said these things about music. Does melodic death metal satisfy you, Paul? It certainly satisfies the musicians who create it and the 1% of creatures in this planet who listen to it, me included.</p>

<p>What is an &quot;elegant&quot; proof? What is a &quot;charming&quot; argument? What Spaniards consider charming comes across as rude to British people. I find &quot;<a href="https://en.wikipedia.org/wiki/Saturn_Devouring_His_Son">Saturn Devouring His Son</a>&quot; by Francisco Goya very charming, but what most people feel when looking at it is horror.</p>

<p>When I was getting my physics degree, I heard teachers make comments like this all the time in class. I facepalmed so much my forefront was red. "This refactor here gives us a more elegant solution". Pffff ...this again? Seriously? What is more elegant, <em>e<sup>iπ</sup> - 1 = 0</em> or <em>e<sup>iπ</sup> = 1</em>? Depends who you ask, but I have seen people fight over that. Kind of like the "Vi vs Emacs" or "spaces vs tabs" wars.</p>

<p>At some point he criticizes some  bureaucratic language used in the math curricula to explain geometry principles. I totally agree with him, but then he writes stuff like:</p>

<blockquote>
<p>&quot;A proof should be an epiphany from the Gods, not a coded message from the Pentagon&quot;.</p>
</blockquote>

<p>I want to agree with this, because I think I know what he means, but… &quot;an epiphany from the Gods&quot;? Really?</p>

<p>He uses this style throughout the whole essay and it's very exhausting. This essay could have been so good, you know, we could use it to make a point. But I can't share it because of this. It's very badly articulated and imprecise.</p>

<p>I would have enjoyed it more if he had stuck to concise ideas. And I am aware that this essay is divided in sections, but he is all over the place anyway and his thoughts are disorganized. All I want is for him to organize them and present them in an effective and succint matter. He needs an editor. Maybe he didn't have one? What are you trying to communicate, Paul? Can you be more… to the point?</p>

<h2>Conclusion</h2>

<p>This essay started in a promising way, and then went downhill, became a rant, didn't tell me anything I didn't know, and did't offer a counter proposal.</p>

<p>So dear reader, if you are good at writing (or know someone who is) and you feel the same way about how maths and physics are taught, I urge you to write your own lament, a lament that we can share with other people and use to make a point. You (anyone really), can do much better.</p>
