---
layout: post
title: The art of not giving a fuck
date: 2022-01-11 18:30:00.000000000 +00:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- books
author:
  display_name: Octopus in vitro
---

<p>I got this book in 2015 and it has taken me this long to read it. These are the notes I took.</p>

<p>Although it made me think and it says a lot of interesting stuff, I also think the book repeats itself a lot, the same ideas are repeated in every chapter. That's why my notes are so short!</p>

<ul>
  <li>Our values are imperfect and incomplete, and to assume that they are perfect and complete is to put us in a dangerously <strong>dogmatic</strong> mindset that breeds <strong>entitlement</strong> and avoids responsibility.</li>
  <li>Before we can look at our values and <strong>prioritizations</strong> and change them into <strong>better</strong>, healthier
  ones, we must first become <strong>uncertain</strong> of our current values.</li>
</ul>

<blockquote>
  <p><em>*Manson’s Law of Avoidance:
”The more something threatens your identity, the more you will avoid it</em>”.
if it feels like it’s you versus the world, chances are it’s really just you versus yourself.</p>
</blockquote>

<ul>
  <li>Don’t choose shitty values. Measure yourself by healthy standards defined by your actions and not the actions of others, so that you are in control.</li>
  <li>When you choose a new <strong>value</strong>, you are choosing to introduce a new form of <strong>pain</strong> into your life (fear of rejection, fear of hurting others, etc.). But life is about not knowing and then doing something anyway. You don’t know anything, so “<strong>do the thing”</strong> anyway, there is nothing to lose.</li>
  <li>Action isn’t just the effect of motivation; it’s also the cause of it. <strong>Action → Inspiration → Motivation</strong></li>
  <li><strong>The paradox of choice:</strong> when you have little options whatever you choose feels like the right option. When you have many options whatever you choose will make you unhappy, thinking “did I really chose the best?”. Fear of missing out. You may avoid choosing anything at all and keep all options open, avoiding commitment.</li>
  <li>Rather than trying everything superficially, commit to something deeply. Keep only healthy friendships, etc.</li>
  <li>Set boundaries, build trust.</li>
</ul>
