---
layout: post
title: Kindred
date: 2024-07-24 15:19:00.000000000 +00:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- books
author:
  display_name: Octopus in vitro
---
<p>I forgot to bring my book to the beach and I only realized when I was alreay on my way to the airport. So I bought one there! The bookstore&#39;s Fantasy and SciFi section was just one tiny shelf, but I found Octavia Butler&#39;s &quot;Kindred&quot;, and since I loved her other story, &quot;Bloodchild&quot;, I thought I&#39;d love this one too.</p>
<p>There is a lot of hype about this book, which is considered the best of Octavia. I disagree; it&#39;s not bad but it&#39;s not her best either.</p>
<p>There were things that I liked and things that I didn&#39;t. Here&#39;s my personal review:</p>
<h2 id="things-i-liked">Things I liked</h2>
<ul>
<li><p>The way it starts. Right in the first page, Dana, the protagonist, has lost an arm, and Kevin (who I thought at first was her brother, given the title of the book), is acused of it. This really grabbed me and made me want to know what the hell happened.</p>
</li>
<li><p>There is something in the way the story is told that made it very difficult to put down. Once you start reading, you can&#39;t stop.</p>
</li>
<li><p>I found the premise interesting, she is an American black woman from 1976 (married to a white guy) who travels back in time whenever her (white) ancestor Rufus&#39; life is in danger, in order to save him. But Rufus&#39; dad is a slave owner in a southern US plantation, in the times where slavery was alive, which puts her in a constantly dangerous situation.</p>
</li>
<li><p>I liked the juxtaposition of the way slaves were treated in 1800 and how blacks are treated in 1970&#39;s. How in the &quot;present&quot;, despite things being better, safer and more progressive, there is still so much to achieve (shown in the opinion of their families on their marriage, for example).</p>
</li>
<li><p>It really keeps you wondering about Dana&#39;s safety, the book has that aura of danger that keeps you waiting for apocalypse to explode at any moment.</p>
</li>
</ul>
<h2 id="things-i-didn-t-like">Things I didn&#39;t like</h2>
<ul>
<li><p>It is never explained why she travels back in time or the way it happens, or why it started at this particular moment in time. The only things we know are:</p>
<ul>
<li><p>she doesn&#39;t have control over when she goes back in time. She does have control over when she comes back to her time tough: she has to be in danger of dying.</p>
</li>
<li><p>people from her time (Kevin) can travel back in time and come back, but people in the past can&#39;t come to the present. If they could, she may have kept her arm.</p>
</li>
<li><p>there is no correlation between the time that passes in the present and the time that passes in the past. There can be anything between minutes or even days between jumps to the past, and she can be back to the present in seconds or hours after a jump. The time spent in the past is always longer than the time that has passed in the present, but there is no constant correlation between the two times.</p>
</li>
<li><p>she is called to the past whenever Rufus&#39; (her ancestor) life is in danger before he breeds her next ancestor. However, the kid&#39;s life or any of the following ancestors&#39; lives don&#39;t seem to ever be in danger from there on, and her time travel stops with Rufus.</p>
</li>
</ul>
</li>
<li><p>On Dana&#39;s first time travel, Kevin didn&#39;t make a fuss about Dana literally dissapearing from one side of the room and re-appearing on the other side seconds later. I would freak the hell out. They never question it or wonder why it is happening. I guess the time travel was just supposed to be a plot device and not as relevant to the story, but still.</p>
</li>
<li><p>In the past, nobody makes a fuss either, about her coming from the future or dissapearing back to it. They would have probably taken her for a witch.  But people just accept it and move on. Same with her modern clothes, only a &quot;she dresses like a man&quot; because she wears pants (trousers for the British).</p>
</li>
<li><p>I didn&#39;t understand why Dana empathizes with Rufus, justifies his actions, and thinks of him as &quot;a little brother&quot; whose mind she can change with some enlightening talk. Yes, those were different times, but the guy is a spoiled monster. I couldn&#39;t stand that she was OK with Alice being raped by Rufus just so that Hagar (her next ancestor) could be born (also being OK with Alice sleeping with Rufus soon after she escaped with Isaac, when she was still recovering and vulnerable). I guess it's because of the &quot;people can be trained to accept slavery&quot; idea mentioned in the book, but still...</p>
</li>
<li><p>Kevin moving out of the plantation knowing Dana can come back at any moment, and saying things like &quot;<em>I could get used to living in this time&quot;...</em> dude, your wife would be treated (and is treated) like shit in this time.</p>
</li>
<li><p>At the end of the book the story felt like Dana just had this disruption to her life out of nowhere, where she was forced to suffer physical and psycological trauma and pay a high price for no reason. Well, yes, the reason was her survival, but there were no learnings, moral to the story, or character evolution (well... Rufus evolves from an innocent kid into a monster).</p>
</li>
<li><p>Some of the dialogues felt a bit weird, like, not natural. I was thinking that maybe that&#39;s how people spoke in the 70&#39;s in America, when the book was written, but it doesn&#39;t seem like it.</p>
</li>
</ul>
<h2 id="in-summary">In summary</h2>
<p>I would still recommend the book, I enjoyed it, but it has a lot of flaws. I would like to hear an American black person's take on this book though, preferably one who lived through the 70s on their 20s, as I am probably missing something.</p>
