---
layout: post
title: 'F1: The Movie'
date: 2025-06-27 15:19:00.000000000 +00:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- films
author:
  display_name: Octopus in vitro
---

<p>I just went to see <a href="https://www.imdb.com/title/tt16311594">the Formula 1 movie</a> and I have to say I liked it 👍.</p>
<p>I used to be a F1 fan at the beginning of 2000, when Fernando Alonso and Michael Schumacker where the stars of the show. For some reason, they had a beef, which made things entertaining. Alonso was the rookie, Schumi the veteran. They would compete even in the qualifying, if their cars happened to coincide on the track. Alonso was really good, and still is, although he is unlucky with cars.</p>
<p>Also, I was watching it in Spain, where <a href="https://en.wikipedia.org/wiki/Antonio_Lobato">Antonio Lobato</a> has been covering and comenting the races for more than 20 years. His enthusiasm and emotion are very unique and part of the reason I enjoyed the sport.</p>
<p>But you don&#39;t need to be into racing to enjoy the movie. A lot of the important technical things are explained, on purpose. They wanted both fans and non-fans to be able to enjoy it.</p>
<p>This is my review, <strong>spoilers from now on</strong>.</p>

<h2 id="the-bad">The bad</h2>
<ul>
  <li>There is not a huge amount of dialoge, but when there is, it&#39;s <strong>cheesy as hell</strong>. It&#39;s really obvious this is not a movie about character development so much as a movie about racing. So they didn&#39;t put much effort on conversations.</li>
  <li>When people are talking, <strong>the camera work is confusing</strong>. The characters shoot short one-liners at each other and the camera jumps from face to face super fast, in a very chaotic way. It doesn&#39;t happen in all scenes with dialogue, but some example scenes are when Brad Pitt meets the team for the first time in the paddock and when Kerry Condon takes both pilots for drinks so they can smooth their differences. You can see the camera moving all over the place.</li>
  <li>In terms of the structure of the story, it&#39;s not doing anything innovative, but rather following the <strong>predictable typical story arcs</strong> of every story. Brad Pitt starts in his ordinary life in his van, the call to adventure comes from his old mentor, he refuses, mentor helps, he joins the team, trials and tribulations, something very bad happens, transformation, reward, go back to van life. But then again, that is not the objective of the movie, the story is "<em>the excuse</em>" for the movie to exist, but the movie is really about racing.</li>
  </ul>
  <h2 id="the-good">The good</h2>
  <p>There is a lot of good in the movie, despite the previous points:</p>
  <ul>
  <li>This is <strong>100% a F1 movie</strong>, a love-letter to F1 racing. <strong>The races</strong> are the best part of the movie. They are so tense that you are on the edge of the seat, I put my hands in my head in desperation several times, then I remembered it&#39;s just a movie, haha. There are several of them throughout the movie, with the last one being the most intense.</li>
  <li>All <strong>the F1 technicalities were very accurate</strong>, this was probably due to Lewis Hamilton producing the movie and being around saying what does and doesn&#39;t fly and correcting things. And it was filmed during actual races, so some scenes are actually as real life as it can get. Examples:
    <ul>
      <li>The rivalry between pilots of the same team is a very realistic thing, that we have seen often.</li>
      <li>The strategies for leaving boxes and slowing down faster racers was also realistic.</li>
      <li>They even made a point of the big deal that tires are and used it to add tension to the races.</li>
      <li>There were red flags, safety cars, and investigations on crashes happening in the circuit, like in real races.</li>
      <li>The FIA penalties for the car design, although they were saved by the bell, added another layer of reality.</li>
      <li>The accident that Pitt suffers when young and forces him to leave F1 uses actual footage from Martin Donnelly&#39;s accident in Jerez in 1990.</li>
      <li>The accident that Idris suffers in one of the races is inspired in the one that Romain Grosjean had in Barhain in 2020.</li>
    </ul>
  </li>
  <li>The movie has lots of <strong>cameos from F1 people</strong> that I&#39;m sure will be a delight for the fans (Alonso fist-bumping Brad Pitt, the press conference with Ferrari and McLaren talking about the fake team, Toto talking to the rookie pilot at the end...). It&#39;s fun to see these guys you see every day in F1 have lines in the movie.</li>
  <li><strong>The simulations</strong> and designing of the car where some of the coolest scenes to watch. The design of the motorhome in the paddock was also very futuristic in style.</li>
  <li>I really liked the character of the engineer girl who works in the pit, I think it represents well how important teamwork is in F1, when even the engineers that change the tires etc. in the pit stops can make a difference between wining or losing. It also shows the amount of pressure that everyone in the team carries during the race. And finally it represents the women who work in F1, I like when she says to Brad Pitt:<br><br>
    <blockquote>Thank you for defending me before, but stop it. It makes me look weak, like I need help.</blockquote><br>
    In contrast we have Kerry being the engineering boss, veteran, excellent at her job and hardened by a life in an unwelcoming industry.</li>
  <li>The rookie lived in an expensive futuristic house, typical of pilots, but also lives with his mom, I liked how they wanted to differenciate him from his old teammate who lives by himself in his van.</li>
</ul>
<p>A final comment I&#39;ll make, which may be influenced by the time at which I most enjoyed F1 (20 years ago), is that Pitt kind of was written like Alonso now, and the rookie as Hamilton when he started. Idris character is kind of arrogant like Hamilton used to be, but eventually matures, and his mom is everywhere, like his dad used to be. Meanwhile, Pitt&#39;s character left F1 and won the 24 Hours of Daytona just like Alonso, then came back to F1. He also has a scene where he brings the car to boxes on one wheel. And in one of his calculated exits from boxes to slow down a faster racer, he makes a comment like:</p>
<blockquote>I was driving slow but he couldn&#39;t pass me...</blockquote>
<p>which Alonso made of Hamilton in one ocasion. But I may be wrong!</p>
<p>Go watch it, it&#39;s a fun movie.</p>
