---
layout: work
title: Game Frankenstein
date: 2013-05-11 12:14:13.000000000 +01:00
type: work
published: true
status: publish
categories:
- Illustration
tags:
- realistic
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/12/illust-yo-featured.jpg
featured_image_alt: 'Game Frankenstein preview'
---
<p>This is a commission for a client who wanted to be portrayed wearing different clothes and accessories from all her favorite games.</p>
<p>Full illustration (with watermark):</p>
<p><a href="<%= image_host %>/images/uploads/2013/12/illust-yo1.jpg"><img class="alignone aligncenter" src="<%= image_host %>/images/uploads/2013/12/illust-yo1.jpg" alt="Illustration of a game Frankenstein - full" width="1100" height="1556" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2013/12/illust-yo2.jpg"><img class="alignone aligncenter" src="<%= image_host %>/images/uploads/2013/12/illust-yo2.jpg" alt="Illustration of a game Frankenstein - T-Shirt" width="1100" height="733" /></a></p>
