---
layout: jetpack-portfolio
title: Game Frankenstein
date: 2013-05-11 12:14:13.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Illustration
tags:
- realistic
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '29'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/12/illust-yo-featured.jpg
featured_image_alt: 'Game Frankenstein preview'
---
<p>This is a commission for a client who wanted to be portrayed wearing different clothes and accessories from all her favorite games.</p>
<p>Full illustration (with watermark):</p>
<p><a href="/images/uploads/2013/12/illust-yo1.jpg"><img class="alignone size-large wp-image-30 aligncenter" src="/images/uploads/2013/12/illust-yo1.jpg" alt="Illustration of a game Frankenstein - full" width="1100" height="1556" /></a></p>
<p><a href="/images/uploads/2013/12/illust-yo2.jpg"><img class="alignone size-large wp-image-31 aligncenter" src="/images/uploads/2013/12/illust-yo2.jpg" alt="Illustration of a game Frankenstein - T-Shirt" width="1100" height="733" /></a></p>
