---
layout: jetpack-portfolio
title: "Moe's cafe"
date: 2014-01-23 12:22:31.000000000 +00:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Illustration
tags:
- cartoon
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '33'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2014/01/illust-moe-featured.jpg
featured_image_alt: "Moe's cafe vintage preview"
---
<p>This is a commission for a client who wanted their dog to be portrayed as a classic actor, and wearing a suit. So I thought of Casablanca and the thirties.</p>
<p>Full illustration (with watermark):</p>
<p><a href="/images/uploads/2014/01/illust-moe1.jpg"><img src="/images/uploads/2014/01/illust-moe1.jpg" alt="Illustration - Moe&#039;s cafe - full" width="1100" height="1556" class="aligncenter size-large wp-image-34" /></a></p>
<p>Sketch before inking:</p>
<p><a href="/images/uploads/2014/01/illust-moe2.png"><img src="/images/uploads/2014/01/illust-moe2.png" alt="Illustration - Moe&#039;s cafe - sketch" width="1100" height="1556" class="aligncenter size-large wp-image-35" /></a></p>
<p><a href="/images/uploads/2014/01/illust-moe3.jpg"><img src="/images/uploads/2014/01/illust-moe3.jpg" alt="Illustration - Moe&#039;s cafe - poster" width="1097" height="1509" class="aligncenter size-full wp-image-36" /></a></p>
