---
layout: jetpack-portfolio
title: 'Gail from Sin City'
date: 2015-04-04 14:31:05.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Illustration
tags:
- 'black &amp; white'
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '128'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2015/04/illust-rosarioSinCity-featured.jpg
featured_image_alt: 'Rosario Sin City fanart preview'
---
<p>This was a commission for a client.</p>
<p>In full (with watermark):</p>
<p><a href="/images/uploads/2015/04/illust-rosarioSinCity1.jpg"><img src="/images/uploads/2015/04/illust-rosarioSinCity1-1024x724.jpg" alt="Gail from Sin City - full" width="840" height="594" class="aligncenter size-large wp-image-129" /></a></p>
<p><a href="/images/uploads/2015/04/illust-rosarioSinCity2.jpg"><img src="/images/uploads/2015/04/illust-rosarioSinCity2-1024x838.jpg" alt="Gail from Sin City - mug" width="840" height="687" class="aligncenter size-large wp-image-130" /></a></p>
<p><a href="/images/uploads/2015/04/illust-rosarioSinCity3.jpg"><img src="/images/uploads/2015/04/illust-rosarioSinCity3.jpg" alt="Gail from Sin City - framed" width="530" height="400" class="aligncenter size-full wp-image-131" /></a></p>
