---
layout: work
title: Queen Hippolyta
date: 2017-06-04 22:41:52.000000000 +01:00
type: work
published: true
status: publish
categories:
- Illustration
tags:
- color
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2017/04/illustration-queen-hippolyta-featured.jpg
featured_image_alt: 'Queen Hippolyta fanart preview'
---
<p>I was so excited for the movie Wonder Woman that I did a fanart before I went to see the movie!</p>

<p>In full:</p>

<p><a href="<%= image_host %>/images/uploads/2017/04/illustration-queen-hippolyta.jpg"><img src="<%= image_host %>/images/uploads/2017/04/illustration-queen-hippolyta.jpg" alt="Gail from Sin City - full" width="636" height="900" class="aligncenter" /></a></p>

<p>Some images of the process:</p>

<p><a href="https://pbs.twimg.com/media/DBa4zYiXcAAoad-?format=jpg&name=small"><img src="https://pbs.twimg.com/media/DBa4zYiXcAAoad-?format=jpg&name=small" alt="Queen Hippolyta - face WIP" width="680" height="383" class="aligncenter" /></a></p>

<p><a href="https://pbs.twimg.com/media/DBfQu5vXcAQ_2QT?format=jpg&name=medium"><img src="https://pbs.twimg.com/media/DBfQu5vXcAQ_2QT?format=jpg&name=medium" alt="Queen Hippolyta - body WIP" width="1200" height="675" class="aligncenter" /></a></p>
