---
layout: jetpack-portfolio
title: Research site - Active Target
date: 2008-06-04 19:25:39.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- science
- research site
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '78'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2008/06/webdev-actar-featured.jpg
featured_image_alt: 'Actar site preview'
---
<p><a href="/images/uploads/2008/06/webdev-actar.jpg"><img class="aligncenter size-full wp-image-78" src="/images/uploads/2008/06/webdev-actar.jpg" alt="research site for an active target" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<td class="bw">See it in action</td>
<td><a href="http://meestevezaguado.tk/webs/w_actar/">Dedicated Website for an active target</a></td>
</tr>
<tr>
<td class="bw">Creation Date</td>
<td>2008.</td>
</tr>
<tr>
<td class="bw">Technologies</td>
<td>PHP, HTML5, CSS3, stats engine, AA accessibility level, responsive design</td>
</tr>
<tr>
<td class="bw">Testing</td>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<td class="bw">Language</td>
<td>English.</td>
</tr>
<tr>
<td class="bw">Description</td>
<td>Proposed web template for the dedicated webpage of an active target. Coded from scratch.</td>
</tr>
<tr>
<td class="bw">Color scheme</td>
<td><a href="/images/uploads/2008/06/webdev-actar-colors.png"><img class="aligncenter size-full wp-image-81" src="/images/uploads/2008/06/webdev-actar-colors.png" alt="research site for an active target - color scheme" width="78" height="38" /></a></td>
</tr>
</tbody>
</table>
<p>Institutions page:<br />
<a href="/images/uploads/2008/06/webdev-actar1.png"><img class="aligncenter size-large wp-image-79" src="/images/uploads/2008/06/webdev-actar1-1024x746.png" alt="research site for an active target - sample page" width="840" height="612" /></a></p>
<p>Documents page:<br />
<a href="/images/uploads/2008/06/webdev-actar2.png"><img class="aligncenter size-large wp-image-80" src="/images/uploads/2008/06/webdev-actar2-1024x788.png" alt="research site for an active target - sample page" width="840" height="646" /></a></p>
