---
layout: jetpack-portfolio
title: Smackjeeves theme - Blue Dot
date: 2009-08-04 19:37:31.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- SmackJeeves
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '83'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2009/08/webdev-smackjeeves-featured.jpg
featured_image_alt: 'Smackjeeves theme Blue dot preview'
---
<p><a href="/images/uploads/2009/08/webdev-smackjeeves.jpg"><img class="aligncenter size-full wp-image-83" src="/images/uploads/2009/08/webdev-smackjeeves.jpg" alt="Smackjeeves theme Blue dot" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<td class="bw">See it in action</td>
<td><a title="Smackjeeves Template" href="http://bluedot.smackjeeves.com/">bluedot.smackjeeves.com</a></td>
</tr>
<tr>
<td class="bw">Creation Date</td>
<td>2009.</td>
</tr>
<tr>
<td class="bw">Technologies</td>
<td>XHTML 1.1 Trans, CSS3, Javascript, stats engine, AddThis widget.</td>
</tr>
<tr>
<td class="bw">Testing</td>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<td class="bw">Language</td>
<td>English.</td>
</tr>
<tr>
<td class="bw">Description</td>
<td>Smackjeeves template for the display of comic pages.</td>
</tr>
<tr>
<td class="bw">Color scheme</td>
<td><a href="/images/uploads/2009/08/webdev-smackjeeves-colors.png"><img class="aligncenter size-full wp-image-87" src="/images/uploads/2009/08/webdev-smackjeeves-colors.png" alt="Smackjeeves theme Blue dot - color scheme" width="78" height="18" /></a></td>
</tr>
</tbody>
</table>
<p>Sample comic page layout:<br />
<a href="/images/uploads/2009/08/webdev-smackjeeves1.jpg"><img class="aligncenter size-full wp-image-84" src="/images/uploads/2009/08/webdev-smackjeeves1.jpg" alt="Smackjeeves theme Blue dot - sample comic page" width="633" height="941" /></a></p>
<p>Archives page:<br />
<a href="/images/uploads/2009/08/webdev-smackjeeves2.png"><img class="aligncenter size-large wp-image-85" src="/images/uploads/2009/08/webdev-smackjeeves2-615x1024.png" alt="Smackjeeves theme Blue dot - Archives page" width="615" height="1024" /></a></p>
<p>Cast page:<br />
<a href="/images/uploads/2009/08/webdev-smackjeeves3.png"><img class="aligncenter size-large wp-image-86" src="/images/uploads/2009/08/webdev-smackjeeves3-1024x825.png" alt="Smackjeeves theme Blue dot - cast page" width="840" height="677" /></a></p>
