---
layout: jetpack-portfolio
title: Research site - Gamma group
date: 2010-03-04 19:58:05.000000000 +00:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- science
- research site
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '89'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2010/03/webdev-gamma-featured.jpg
featured_image_alt: 'research site for the Gamma group'
---
<p><a href="/images/uploads/2010/03/webdev-gamma.jpg"><img class="aligncenter size-full wp-image-89" src="/images/uploads/2010/03/webdev-gamma.jpg" alt="research site for the Gamma group" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<td class="bw">See it in action</td>
<td><a title="Gamma Website" href="http://meestevezaguado.tk/webs/w_gamma/index_en.php">Gamma Group Website</a></td>
</tr>
<tr>
<td class="bw">Creation Date</td>
<td>2010.</td>
</tr>
<tr>
<td class="bw">Technologies</td>
<td>PHP, HTML5, CSS3, stats engine, AA accessibility level, responsive design</td>
</tr>
<tr>
<td class="bw">Testing</td>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<td class="bw">Language</td>
<td>English and Spanish.</td>
</tr>
<tr>
<td class="bw">Description</td>
<td>Proposed web template to renew the functionality and look of the GS Group webpage, to be used with a CMS like WordPress</td>
</tr>
<tr>
<td class="bw">Color scheme</td>
<td><a href="/images/uploads/2010/03/webdev-gamma-colors.png"><img class="aligncenter size-full wp-image-91" src="/images/uploads/2010/03/webdev-gamma-colors.png" alt="research site for the Gamma group - color scheme" width="98" height="38" /></a></td>
</tr>
</tbody>
</table>
<p>Research lines:<br />
<a href="/images/uploads/2010/03/webdev-gamma1.png"><img class="aligncenter size-large wp-image-90" src="/images/uploads/2010/03/webdev-gamma1-542x1024.png" alt="research site for the Gamma group - screenshot" width="542" height="1024" /></a></p>
