---
layout: work
title: Jekyll site - Java bits
date: 2012-09-30 21:19:51.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- Jekyll
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2012/09/webdev-javasnippets-featured.png
featured_image_alt: 'Jekyll site Java bits preview'
---
<p><a href="<%= image_host %>/images/uploads/2012/09/webdev-javasnippets.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2012/09/webdev-javasnippets.png" alt="Jekyll site Java bits" width="700" height="644" /></a></p>
<h2>Visit the site here:</h2>
<p><a class="weblink" href="http://javasnippets.tk">javasnippets.tk</a></p>
<p>You can also Check out the <a href="/blog/web-development/custom-menu-in-jekyll/">blog post</a>.</p>
<h2>Screenshot:</h2>
<p><a href="<%= image_host %>/images/uploads/2012/09/webdev-javasnippets1.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2012/09/webdev-javasnippets1.png" alt="Jekyll site Java bits - screenshot" width="800" height="2083" /></a></p>
