---
layout: jetpack-portfolio
title: Jekyll site - Particle physics snippets
date: 2012-08-27 21:07:05.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- Jekyll
- science
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '112'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2012/08/webdev-ppsnippets-featured.jpg
featured_image_alt: 'Jekyll site particle physics snippets'
---
<p><a href="/images/uploads/2012/08/webdev-ppsnippets.png"><img class="aligncenter size-full wp-image-112" src="/images/uploads/2012/08/webdev-ppsnippets.png" alt="Jekyll site particle physics snippets" width="700" height="644" /></a></p>
<h2>Visit the site</h2>
<p><a class="weblink" href="http://ppsnippets.tk">http://ppsnippets.tk</a></p>
<p>You can also check out the <a href="/blog/web-development/my-first-jekyll-site/">blog post</a>.</p>
<h2>Color scheme:</h2>
<p><a href="/images/uploads/2012/08/webdev-ppsnippetscolors.png"><img class="aligncenter size-full wp-image-114" src="/images/uploads/2012/08/webdev-ppsnippetscolors.png" alt="webdev-ppsnippetscolors" width="78" height="18" /></a></p>
<h2>Screenshot:</h2>
<p><a href="/images/uploads/2012/08/webdev-ppsnippets1.png"><img class="aligncenter size-full wp-image-113" src="/images/uploads/2012/08/webdev-ppsnippets1.png" alt="Jekyll site particle physics snippets -screenshot" width="800" height="6836" /></a></p>
