---
layout: jetpack-portfolio
title: NR applied to thermodynamics
date: 2013-11-19 21:34:44.000000000 +00:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- Jekyll
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '123'
  _oembed_3a854579275682e76a6e51616ac7784b: "{{unknown}}"
  _wp_old_slug: jekyll-site-nr-applied-to-thermodynamics
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/11/webdev-nrthermo-featured.jpg
featured_image_alt: 'Jekyll site - NR applied to thermodynamics preview'
---
<p><a href="/images/uploads/2013/11/webdev-nrthermo.png"><img class="aligncenter size-full wp-image-123" src="/images/uploads/2013/11/webdev-nrthermo.png" alt="Jekyll site NR applied to thermodynamics" width="700" height="644" /></a></p>
<h2>Visit the site here:</h2>
<p><a class="weblink" href="http://nrthermo.tk">http://nrthermo.tk</a></p>
<p>You can also check out the <a href="/blog/web-development/categories-sorted-custom-order-and-submenus/">blog post</a>.</p>
<h2>Color scheme:</h2>
<p><a href="/images/uploads/2013/11/webdev-nrthermocolors.png"><img class="aligncenter size-full wp-image-125" src="/images/uploads/2013/11/webdev-nrthermocolors.png" alt="Jekyll site NR applied to thermodynamics - color scheme" width="98" height="18" /></a></p>
<h2>Full page:</h2>
<p><a href="/images/uploads/2013/11/webdev-nrthermo1.jpg"><img class="aligncenter size-full wp-image-124" src="/images/uploads/2013/11/webdev-nrthermo1.jpg" alt="Jekyll site NR applied to thermodynamics - screenshot" width="800" height="3032" /></a></p>
