---
layout: jetpack-portfolio
title: Jekyll site - Cosmic radiation
date: 2013-07-15 21:29:52.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- featured
- Jekyll
- science
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _wp_old_slug: jekyll-site-cosmic-radiation
  _thumbnail_id: '119'
  _oembed_57eb4b1034c47db77e3db6136b7d5493: "{{unknown}}"
  _oembed_56f9c093573788642aa701a099fd4abc: "{{unknown}}"
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/07/webdev-cosmicrad-featured.jpg
featured_image_alt: 'Jekyll site - Cosmic radiation preview'
---
<p><a href="/images/uploads/2013/07/webdev-cosmicrad.jpg"><img class="aligncenter size-full wp-image-119" src="/images/uploads/2013/07/webdev-cosmicrad.jpg" alt="Jekyll site - Cosmic radiation" width="700" height="644" /></a></p>
<h2>Visit the site here:</h2>
<p><a class="weblink" href="http://cosmicrad.tk">http://cosmicrad.tk</a></p>
<p>You can also check out the dedicated <a href="/blog/web-development/jekyll-highlight-current-menu-item/">blog post</a>.</p>
<h2>Color scheme:</h2>
<p><a href="/images/uploads/2013/07/webdev-cosmicradcolors.png"><img class="aligncenter size-full wp-image-121" src="/images/uploads/2013/07/webdev-cosmicradcolors.png" alt="Jekyll site - Cosmic radiation - color scheme" width="98" height="38" /></a></p>
<h2>Screenshot:</h2>
<p><a href="/images/uploads/2013/07/webdev-cosmicrad1.jpg"><img class="aligncenter size-full wp-image-120" src="/images/uploads/2013/07/webdev-cosmicrad1.jpg" alt="Jekyll site - Cosmic radiation - screenshot" width="800" height="3961" /></a></p>
