---
layout: jetpack-portfolio
title: Jekyll site - Detector simulations
date: 2015-07-15 17:50:26.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- Jekyll
- science
- research site
meta:
  _edit_last: '1'
  _thumbnail_id: '194'
  _wpas_done_all: '1'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/05/webdev-detectorsims-featured.jpg
featured_image_alt: 'Jekyll site - Detector simulations preview'
---
<p><a href="/images/uploads/2016/05/webdev-detectorsims.jpg"><img class="aligncenter size-full wp-image-194" src="/images/uploads/2016/05/webdev-detectorsims.jpg" alt="Jekyll site - Detector simulations" width="700" height="644" /></a></p>
<p>Some years ago I did a dedicated site for a detector simulation I was working on at the time. Part of its contents and the code in the repository were taken from my own research work and simulation code. I re-did the site recently using Jekyll.</p>
<h2>Visit the site</h2>
<p><a class="weblink" href="http://detectorsims.tk">http://detectorsims.tk</a></p>
<h2>Menu animation:</h2>
<p><a href="/images/uploads/2016/05/webdev-detectorsims1.gif"><img class="aligncenter size-full wp-image-195" src="/images/uploads/2016/05/webdev-detectorsims1.gif" alt="Jekyll site - Detector simulations mobile" width="234" height="478" /></a></p>
<h2>Full sample page:</h2>
<p><a href="/images/uploads/2016/05/webdev-detectorsims2.jpg"><img class="aligncenter size-full wp-image-196" src="/images/uploads/2016/05/webdev-detectorsims2.jpg" alt="Jekyll site - Detector simulations full" width="1100" height="4210" /></a></p>
