---
layout: work
title: Sinatra - UNO (WIP)
date: 2016-06-14 23:33:05.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- Sinatra
- games
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/06/webdev-uno-featured.png
featured_image_alt: 'UNO preview'
---

<p><a href="<%= image_host %>/images/uploads/2016/06/webdev-uno.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/06/webdev-uno.png" alt="Sinatra app UNO preview" width="999" height="987" /></a><br />
The contents of this site are still a work in progress. This is a Sinatra project that I started to teach myself the framework. Also, to try out the outside-in style of TDD.</p>
<!-- <h2>Visit site:</h2>
<p><a class="weblink" href="https://uno.herokuapp.com/">https://uno.herokuapp.com/</a></p> -->
<h2>Visit repo:</h2>
<p><a class="weblink" href="https://github.com/octopusinvitro/uno">https://github.com/octopusinvitro/uno</a></p>
<!-- <h2>Color scheme:</h2>
<p><a href="<%= image_host %>/images/uploads/2016/06/webdev-unocolors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/06/webdev-unocolors.png" alt="Sinatra app UNO colors" width="78" height="38" /></a></p> -->
