---
layout: jetpack-portfolio
title: Sinatra - ShineYourEye
date: 2016-12-07 14:37:35.000000000 +00:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- Sinatra
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/12/webdev-shineyoureye-featured.png
featured_image_alt: 'Shine Your Eye preview'
---

<p><a href="/images/uploads/2016/12/webdev-shineyoureye.png"><img class="aligncenter size-full" src="/images/uploads/2016/12/webdev-shineyoureye.png" alt="Sinatra app ShineYourEye preview" width="900" height="744" /></a><br />
I am helping build and define what will be the new Pombola Lite approach to build parliamentary monitoring sites. Some of my tasks include creating and separating the core code from the site specific code in a Sinatra application so that it can be used with other countries in the future. It has the same approach as viewer-sinatra, since it is scraped to generate a static Jekyll site served by GitHub pages.</p>
<h2>Visit site:</h2>
<p><a class="weblink" href="http://staging.shineyoureye.org/">http://staging.shineyoureye.org/</a></p>
<h2>Visit repo:</h2>
<p><a class="weblink" href="https://github.com/theyworkforyou/shineyoureye-sinatra">https://github.com/theyworkforyou/shineyoureye-sinatra</a></p>
