---
layout: jetpack-portfolio
title: Sinatra - Twitter API (WIP)
date: 2016-06-15 21:09:45.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- Sinatra
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/06/webdev-twitterapi-featured.png
featured_image_alt: 'Twitter API preview'
---

<p><!-- <a href="/images/uploads/2016/06/webdev-twitterapi.png"><img class="aligncenter size-full" src="/images/uploads/2016/06/webdev-twitterapi.png" alt="Twitter API preview" width="999" height="987" /></a><br /> -->
The contents of this site are still a work in progress. This is a Sinatra project that I started to teach myself the framework. Also, to learn about how to interact with the Twitter API in Ruby, and more importantly, how to test a request to an API.</p>
<!-- <h2>Visit site:</h2>
<p><a class="weblink" href="https://twitterapi.herokuapp.com/">https://twitterapi.herokuapp.com/</a></p> -->
<h2>Visit repo:</h2>
<p><a class="weblink" href="https://github.com/octopusinvitro/twitter-api">https://github.com/octopusinvitro/twitter-api</a></p>
<!-- <h2>Color scheme:</h2>
<p><a href="/images/uploads/2016/06/webdev-twitterapicolors.png"><img class="aligncenter size-full" src="/images/uploads/2016/06/webdev-twitterapicolors.png" alt="Sinatra app Twitter API colors" width="78" height="38" /></a></p> -->
