---
layout: work
title: Sinatra - EveryPolitician
date: 2016-07-12 10:00:00.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- Sinatra
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/07/webdev-everypolitician-featured.png
featured_image_alt: 'EveryPolitician preview'
---

<p><a href="<%= image_host %>/images/uploads/2016/07/webdev-everypolitician.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/07/webdev-everypolitician.png" alt="Sinatra app EveryPolitician preview" width="984" height="806" /></a><br />
I worked on the EveryPolitician project for a while. Some of my tasks included working on the Sinatra viewer that generates the Jekyll site that is actually the EveryPolitician site. You can find it in the links below:</p>
<h2>Visit site:</h2>
<p><a class="weblink" href="http://everypolitician.org/">http://everypolitician.org/</a></p>
<h2>Visit repo:</h2>
<p><a class="weblink" href="https://github.com/everypolitician/viewer-sinatra">https://github.com/everypolitician/viewer-sinatra</a></p>
