---
layout: jetpack-portfolio
title: Sinatra - Vote for dinner (WIP)
date: 2016-06-10 23:43:01.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Web Development
tags:
- Sinatra
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/06/webdev-votefordinner-featured.png
featured_image_alt: 'Vote for dinner preview'
---

<p><a href="/images/uploads/2016/06/webdev-votefordinner.png"><img class="aligncenter size-full" src="/images/uploads/2016/06/webdev-votefordinner.png" alt="Sinatra app vote for dinner preview" width="930" height="955" /></a><br />
The contents of this site are still a work in progress. This is my first Sinatra project that I started to teach myself the framework.</p>
<h2>Visit site:</h2>
<p><a class="weblink" href="https://votefordinner.herokuapp.com/">https://votefordinner.herokuapp.com/</a></p>
<h2>Visit repo:</h2>
<p><a class="weblink" href="https://github.com/octopusinvitro/votefordinner">https://github.com/octopusinvitro/votefordinner</a></p>
<!-- <h2>Color scheme:</h2>
<p><a href="/images/uploads/2016/06/webdev-votefordinnercolors.png"><img class="aligncenter size-full" src="/images/uploads/2016/06/webdev-votefordinnercolors.png" alt="Sinatra app vote for dinner colors" width="78" height="38" /></a></p> -->

