---
layout: post
title: Different display names in your different Disqus sites
date: 2014-04-07 09:10:20.000000000 +01:00
type: post
published: true
status: publish
categories:
- Web development
tags:
- hacks
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---
<p>You probably have used <a href="https://disqus.com/">Disqus</a> to manage the comments of some of your sites. If that's the case, you may have come across the limitation that you can not have different display names in your different sites; Disqus currently provides the ability to have ONE display name across ALL sites where the account is used.</p>
<p>But sometimes that's not what you want. Say you have a blog about science-fiction movies, and a personal blog. You probably would prefer appearing as "<em>Jon Doe</em>" in your personal blog, but for the science-fiction movies blog you may prefere the author comments to be made by "<em>Sci-Fi movies</em>" and not "<em>Jon Doe</em>".</p>
<p>If you’d like to have different display names for different sites, Disqus recommends creating separate Disqus accounts. <strong>There is no escape or workaround for that, you just need a different account</strong>.</p>
<p>So do you need to create <code>jondoe@domain.com</code> and <code>scifimovies@domain.com</code> and so on for each of your sites?</p>
<p>Nope! You don't! If you create a <a href="https://www.gmail.com">Gmail</a> account, there is one possible solution:</p>
<h2>Using an address alias</h2>
<p>If you use Gmail, you can use a ‘+’ in your email address to create aliases. Alias addresses can be used to create different Disqus accounts <strong>with the same email address</strong>. More information is available here: <a href="https://support.google.com/mail/answer/12096">https://support.google.com/mail/answer/12096</a>.</p>
<p>So now you can use <code>jondoe@gmail.com</code> for your personal blog, setting your display name to "<em>Jon Doe</em>", and then create a new Disqus account as <code>jondoe+scifimovies@gmail.com</code>, setting your display name to "<em>Sci-Fi movies</em>". And all emails sent to <code>jondoe+scifimovies@gmail.com</code> will arrive to <code>jondoe@gmail.com</code>. Try it!</p>
<p>If you have a bunch of Disqus sites to manage, and you are too lazy to create a trillion new email accounts, creating one single Gmail account and using the address alias "hack" could be a nice solution.</p>
