.article-header {
  padding-bottom: 2em;

  p {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: $blog-color;

    @media only screen and (min-width: 55em) {
      position: relative;
      max-width: 33em;
      margin-right: auto;
      margin-left:  auto;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -.1em;
        width: 15%;
        border: .1em solid $blog-color;
      }

      &:before {
        right: 75%;
      }

      &:after {
        left: 74%;
      }
    }
  }
}

.article-body {
  padding: 1em;
  background-color: #fff;

  h2, h3, h4 {
    position: relative;
  }

  h2 {
    padding-top: 1em;
  }

  h4 {
    font-style: italic;
  }

  p {
    line-height: 1.7;
    margin: 1.5em 0;
  }

  figure {
    margin: 1em 40px;
  }

  img {
    position: relative;
    display: block;
    margin: 2em auto;
  }

  li {
    margin: 1em 0;
    list-style-image: url('/images/icon-star-filled.svg');
  }

  dl {
    margin-top: 2em;
  }

  dt {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  dd {
    margin-bottom: 2em;
  }

  table {
    border-collapse: collapse;
    margin: auto;
  }

  td,
  th {
    padding: 1em;
  }

  thead {
    border-bottom: .2em solid $blog-color
  }

  caption {
    font-style: italic;
    border-bottom: .2em solid $blog-color;
  }

  hr {
    margin: 3em 0;
    padding: 0;
    border: none;
    border-top: medium double $blog-color;
    color: $blog-color;
    text-align: center;
  }

  hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    padding: 0 0.25em;
    font-size: 1.5em;
    background: white;
  }

  figure {
    text-align: center;
    margin-bottom: 2em;

    img {
      margin-bottom: 1em;
    }
  }

  figcaption {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $figcaption-color;
  }

  @media only screen and (min-width: 55em) {
    padding: 7em;
  }
}

.article-footer {
  width: 90%;
  margin-left: 5%;
  padding: .5em 1em;

  ul {
    list-style-image: url('/images/icon-star-filled.svg');
  }

  @media only screen and (min-width: 55em) {
    width: 40%;
  }
}

.blog {
  tbody tr:nth-of-type(2n) {
    background-color: $bg-blog-light;
  }
}

.work {
  tbody tr:nth-of-type(2n) {
    background-color: $bg-work-light;
  }
}

.work .article-footer {
  background: $bg-work-light;
  background: linear-gradient(45deg, transparent 7%, $bg-work-light 7%, $bg-work-light 93%, transparent 93%, transparent);

  strong { color: $work-color; }
}

.blog .article-footer {
  background: $bg-blog-light;
  background: linear-gradient(45deg, transparent 7%, $bg-blog-light 7%, $bg-blog-light 93%, transparent 93%, transparent);

  strong { color: $blog-color; }
}

.anchor {
  position: absolute;
  top: 0;
  right: calc(100% + .1em);
  padding-top: inherit;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.weblink {
  display: block;
  width: 90%;
  margin: auto;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: $work-color;
  background: linear-gradient(45deg, transparent 7%, $work-color 7%, $work-color 93%, transparent 93%, transparent);
  transition: background 0.4s, color 0.4s;

  &:hover {
    color: $work-color;
    background: $blog-color;
    background: linear-gradient(45deg, transparent 7%, $blog-color 7%, $blog-color 93%, transparent 93%, transparent);
  }

  @media only screen and (min-width: 55em) {
    width: 50%;
  }
}

.sharebutton {
  @extend .taxonomy-item;
  margin-right: 3rem;
}

.embedded-tweet {
  margin: 2em auto;
  max-width: 500px;
}

.comments-title {
  margin-top: 3em;
}

.deprecation {
  position: relative;
  padding: 1rem;
  color: darken($blog-color, 10%);
  background: $bg-blog-lighter;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: .5rem;
    right: calc(100% - .5rem);
    width: 2rem;
    height: 2rem;
    background: url('/images/icon-warning.svg') top left no-repeat;
    background-size: 2rem;
  }
}
