.article-grid {
  margin: 0 auto;
  padding: 4em calc(50% - 9em);
  max-width: 100%;
  list-style: none;
  background: linear-gradient(-30deg,
    transparent $grid-gradient-stop,
    $grid-gradient-color $grid-gradient-stop,
    $grid-gradient-color calc(100% - $grid-gradient-stop),
    transparent calc(100% - $grid-gradient-stop),
    transparent);
}

.article-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22.5em;
  max-width: 22.5em;
  margin: 10px auto;
  padding: 2em;
  font-size: 80%;
  background: $article-item-bg;
  background: linear-gradient(to top right,
    transparent 20%,
    $article-item-bg 20%,
    $article-item-bg 80%,
    transparent 80%,
    transparent);
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  &:hover {
    background: linear-gradient(to top right,
      transparent 20%,
      $article-item-bg-hover 20%,
      $article-item-bg-hover 80%,
      transparent 80%,
      transparent);
  }

  &::before {
    content: '';
    position: absolute;
    background: rgba(250, 247, 235, 0.5);
    transition: transform 0.6s;
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-100%,0);
    pointer-events: none;
  }

  &:hover::before {
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,100%,0);
    transition-delay: 0.35s;
  }
}

.item-title {
  min-height: 30%;
  max-width: 75%;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  word-spacing: -0.15em;
  font-weight: 300;
}

.article-item::before,
.item-readmore {
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-readmore {
  z-index: $readmore-z-index;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.item-excerpt {
  max-width: 80%;
  margin: auto;
  color: $article-item-excerpt;
  transform-origin: top center;
  transform: scale3d(1,1,1);
  transition: transform 0.35s;
}

.article-item:hover .item-excerpt {
  transform: scale3d(1.2,1.2,1);
}

.item-metadata {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 17em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
  color: $article-item-metadata;
  border-right: 4px solid $article-item-metadata;

  span {
    display: block;
  }
}

.work {
  .article-item {
    background: $work-color;
    background: linear-gradient(to top right,
      transparent 20%,
      $work-color 20%,
      $work-color 80%,
      transparent 80%,
      transparent);
  }

  .item-title {
    color: $link-color;
  }

  .item-metadata {
    color: $blog-color;
    border-color: $blog-color;
  }
}

.blog .item-title {
  color: $article-item-title;
}

@media screen and (min-width: 20em) {
  .article-title {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 50em) {
  .article-grid {
    padding: 4em calc(50% - 19em);
  }

  .article-item {
    margin: .625em 1%;
    width: 48%;
  }
}

@media screen and (min-width: 73em) {
  .article-grid {
    padding: 1em calc(50% - 30em) 20em;
  }

  .article-item {
    &:nth-of-type(3n+2) {
      top: 10em;
    }

    &:nth-of-type(3n+3) {
      top: 20em;
    }
  }
}

@media screen and (min-width: 98em) {
  .article-grid {
    padding: 1em calc(50% - 40em) 30em;
  }

  .article-item {
    &:nth-of-type(3n+2) {
      top: 0;
    }

    &:nth-of-type(3n+3) {
      top: 0;
    }

    &:nth-of-type(4n+2) {
      top: 10em;
    }

    &:nth-of-type(4n+3) {
      top: 20em;
    }

    &:nth-of-type(4n+4) {
      top: 30em;
    }
  }
}
