$light-grey:   #eee;
$lighter-grey: #f5f5f5;

$red:    #F15A5A;
$yellow: #F0C419;
$green:  #4EBA6F;
$green:  #0CA089;
$blue:   #2D95BF;
$violet: #955BA5;

$aqua:      #2CE0C3;
$dark-aqua: #2EBBA2;

$fucsia:      #FF6C79;
$orange:      #DF8634;
$dark-yellow: #F0BA19;

$dark-red:      #DE4539;
$granate:       #C42556;
$dark-violet:   #833263;
$darker-violet: #453841;

/* MAIN TITLES */
$grey-shadow:   #ccc;
$green-shadow:  #BFD9C7;
$yellow-shadow: #F1DFAE;
$blue-shadow:   #BFD2D9;
$violet-shadow: #D7D2D9;

/* BODY BACKGROUNDS */
$green-light:  #E6F5EB;
$yellow-light: #FEF3C2;
$blue-light:   #E6F1F5;
$violet-light: #F3EDF5;

$green-lighter:  #F3FAF5;
$yellow-lighter: #FEFCE8;
$blue-lighter:   #F3F8FA;
$violet-lighter: #F9F7FA;
