code,
pre {
  font-family: 'Ubuntu Mono', monospace;
  color: $darker-violet;
  background: $bg-blog-lighter;
}

code[class*="language-"],
pre[class*="language-"] {
  color: $darker-violet;
  font-family: 'Ubuntu Mono', monospace;
  white-space: break-spaces;
}

code[class*="language-"] {
  display: inline-block;
  margin-top: -1.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $bg-blog-light;
}

:not(pre) > code[class*="language-"] {
  padding: 0 .2em;
}

pre[class*="language-"] {
  margin: 1em 0;
}

/* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
  ========================================================================== */
@media only screen and (min-width: 35em) {
  h1 {
    letter-spacing: .5em;
  }

  .inline-img {
    display: inline-block;
    float: left;
    margin: 1em;
  }
}

@media only screen and (min-width: 43.75em) { // 700px
  body {
    font-size: 120%;
  }
}

@media only screen and (min-width: 55em) {
  .wrapper {
    padding-left:  calc(50% - 20em);
    padding-right: calc(50% - 20em);
  }

  .wrapper-post {
    padding-left:  calc(50% - 30em);
    padding-right: calc(50% - 30em);
  }

  .site-header p {
    position: relative;
    max-width: 33em;
    margin-right: auto;
    margin-left:  auto;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -.1em;
      width: 8%;
      border: .1em solid #ccc;
    }

    &:before {
      right: 82%;
    }

    &:after {
      left: 81%;
    }
  }
}

@media only screen and (min-width: 120em) {
  body {
    font-size: 150%;
  }
}

@media only screen and (min-width: 190em) {
  body {
    font-size: 180%;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
// body{animation:party 1s linear infinite}@keyframes party{to{filter:hue-rotate(360deg)}}
