@mixin site-navigation-li($menu-color) {
  background: $menu-color;
  background:
    linear-gradient(135deg, $menu-color 1em, $menu-color 0),
    linear-gradient(225deg, $menu-color 1em, $menu-color 0),
    linear-gradient(315deg, transparent 1em, $menu-color 0),
    linear-gradient( 45deg, transparent 1em, $menu-color 0);
  background-position:
    top left, top right,
    bottom right, bottom left;
  background-size:   51% 51%;
  background-repeat: no-repeat;

  a { color: #fff; }
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;

  max-width: 100%;
  margin: 0;
  padding: 0 calc(50% - 12em);
  font-size: 90%;
  list-style-type: none;

  li {
    display: inline-block; /* no-flexbox support */
  }

  a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    transition: color .4s;
  }

  svg {
    display: block;
    margin: .3em auto;
  }
}

.site-navigation-home,
.site-navigation-work,
.site-navigation-blog,
.site-navigation-about,
.site-navigation-home  a,
.site-navigation-work  a,
.site-navigation-blog  a,
.site-navigation-about a {
  transition: transform .4s ease-out
}

.site-navigation-home  a { color: $home-color;  }
.site-navigation-work  a { color: $work-color;  }
.site-navigation-blog  a { color: $blog-color;  }
.site-navigation-about a { color: $about-color; }

@media only screen and (min-width: 55em) {
  .site-navigation {
    height: 6em;

    li {
      width:  6em;
      height: 6em;
      text-align: center;
      transition: all .4s;

      &:hover {
        height: 6.8em;

        svg {
          transform-origin: center;
          transform: rotate3d(0,0,1,360deg);
        }
      }
    }

    svg {
      transition: transform .8s ease-out;
    }
  }

  .site-navigation-home:hover,
  .home .site-navigation-home {
    @include site-navigation-li($home-color);
  }

  .site-navigation-work:hover,
  .work .site-navigation-work {
    @include site-navigation-li($work-color);
  }

  .site-navigation-blog:hover,
  .blog .site-navigation-blog {
    @include site-navigation-li($blog-color);
  }

  .site-navigation-about:hover,
  .about .site-navigation-about {
    @include site-navigation-li($about-color);
  }
}
