---
layout: post
title: "Dev summer, Cambridge 2016"
date: 2016-07-02 15:32:45.000000000 +01:00
type: post
published: true
status: publish
categories:
- Code &amp; computers
tags: []
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
---


<p>Last week, on the 25 of June, one of the best events of the year so far took place in Cambridge. I'm talking about the <a href="https://10times.com/dev-summer">Dev Summer</a>.</p>

<p>Many of us Londoners woke up very early to take the train that would take us to the historical city, for a day full of fun and learning, surrounded by smiles from a lot of nice people and great speakers.</p>

<h2>The sessions</h2>

<p>We had great sessions and speakers, and it was very difficult to choose which talk to see next, since there were four in parallel for every time slot. The topics were very diverse and covered everything from DevOps, Mobile, Web, NoSQL, Cloud, Functional Programming, Startups and much more, all of which were well presented, engaging and of high quality.</p>

<p>We learnt how to scale our projects, what are the characteristics of a well designed API, how to program a chat bot with Clojure, programming languages like APL (named after the book A Programming Language) which has been with us since the 60's, and much more.</p>

<p>Many of them included a bit of coding which was fun, because we could then sink in the knowdlege we had just received. The time often was not enough to finish some of them, but I definitely want to continue working on them.</p>

<p>The mass pairing session was a great opportunity to mingle with the rest of the participants and meet new like-minded souls, as well as the workshops, who allowed us to explore how each other thinks. It was interesting to see the ideas that others can come up with. I would say that the participants were the other half that made this event so cool. The speakers had the audience they deserved: engaged and motivated to play and learn.</p>

<h2>The venue</h2>

<p>We gathered at the Møller Centre, in Cambridge, an amazing place with enormous green fields that made for a great lunch view, as well as post-lunch nap place... wink wink! (please, don't judge us! we woke up very early!). It was a very sunny and nice day, and we were all able to do our photosynthesis in the centre's terrace, except for the 15 minutes when it suddenly started raining nail-sized ice cubes. But even then it was a funny spectacle to see them jumping around over the grass.</p>

<p>After the talks we had all bonded, and went together on an adventure to see the city. Our idea was initially to rent a boat and maybe go below &quot;<em>The bridge of Sighs</em>&quot; just because the name is so metal 🤘. But due to time constraints we ended up in the best restaurant of Cambridge having the best dinner ever.</p>

<p>Cambridge may come off as a very &quot;intellectual&quot; kind of place, having a history of academic and research achievement that seems to permeate the walls of the many historic buildings of this university town. Yet today it offers a very comfy, warm and welcoming image to the visitor.</p>

<h2>The food</h2>

<p>The food was delicious, we had cold snacks as well as warm and delicious soups and meat. There was also coffee, tea, water and drinks available through out the whole day.</p>

<h2>The sponsors</h2>

<p>This wouldn't be possible without amazing sponsors like:</p>

<ul>
  <li><a href="http://twitter.com/DangerousIsGood">Contino</a></li>
  <li><a href="http://twitter.com/metail">Metail</a></li>
  <li><a href="https://twitter.com/redgate">Redgate</a></li>
  <li><a href="https://twitter.com/qwanlc">QWAN</a></li>
  <li><a href="https://twitter.com/linguamatics">Linguamatics</a></li>
  <li><a href="https://twitter.com/comparemkttech">compare the market</a></li>
</ul>

<p>Some of them were present to offer some delicious chocolate to the random developer passing by, and to share a good conversation about what they do, which was very cool.</p>

<p>If you want to be cool like them, you can become a partner, just <a href="http://devcycles.net/2016/summer/">take a look at all the good reasons</a> that will help convince you to do so. I promise you won't regret it.</p>

<h2>The organizers</h2>

<p>Thanks as well to Software Acumen, the sparkling organizers which also gave us so many ticket giveaways for the lovely people at Codebar. We are looking forward to their next conference in December, so keep you eyes and ears open.</p>

<h2>In summary</h2>

<p>I think I didn't forget anything, but just in case: great venue and food, nice people, amazing talks about very diverse topics, lovely audience, and we went back home with lots of new ideas and insights! We'll be looking forward to next edition!</p>

<p>P.S. For me personally, I will always remember this conference because I met a developer who used to live in a city that I was going to move to in the future, and he knew the people who were still living in that house, so he put me in contact with them, and after searching for a flat to rent in that city for weeks, this was the cheapest place to stay!</p>
