---
layout: work
title: Stationery - LaTeX CV layout
date: 2011-08-09 16:29:16.000000000 +01:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- 'CV design'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2011/08/projects-cvlatex-featured.jpg
featured_image_alt: 'CV using LaTeX'
---
<p>CV layout design using LaTeX.</p>
<p><a href="<%= image_host %>/images/uploads/2011/08/projects-cvlatex1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/08/projects-cvlatex1.jpg" alt="LaTeX CV layout - full" width="1100" height="733" /></a></p>
