---
layout: jetpack-portfolio
title: Book layout - LaTeX lab guide
date: 2013-09-24 17:25:54.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Projects
tags:
- book
- science
meta:
  _edit_last: '1'
  _wpas_done_all: '1'
  _thumbnail_id: '59'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/09/projects-labguide-featured.jpg
featured_image_alt: 'LaTeX lab guide preview'
---
<p><a href="/images/uploads/2013/09/projects-labguide.jpg"><img class="aligncenter size-full wp-image-59" src="/images/uploads/2013/09/projects-labguide.jpg" alt="Lab guide book layout design" width="700" height="644" /></a></p>
<p>This is a lab guide I wrote some time ago for my students back in the time. I recently redesigned it using LaTeX. Check out the <a href="/blog/code-and-tech/lab-guide-layout-with-latex/">blog post</a> about the process.</p>
<p>Table of contents page:</p>
<p><a href="/images/uploads/2013/09/projects-labguide1.png"><img class="aligncenter size-full wp-image-60" src="/images/uploads/2013/09/projects-labguide1.png" alt="Lab guide book layout design - contents" width="932" height="978" /></a></p>
<p>Inner pages:</p>
<p><a href="/images/uploads/2013/09/projects-labguide2.jpg"><img class="aligncenter wp-image-61 size-large" src="/images/uploads/2013/09/projects-labguide2-1024x734.jpg" alt="Lab guide book layout design - inner pages" width="840" height="602" /></a></p>
<p>Ordered/unordered lists, equations, pages, etc:</p>
<p><a href="/images/uploads/2013/09/projects-labguide3.png"><img class="aligncenter size-full wp-image-62" src="/images/uploads/2013/09/projects-labguide3.png" alt="Lab guide book layout design - details" width="915" height="792" /></a></p>
<p>Tables and plots:</p>
<p><a href="/images/uploads/2013/09/projects-labguide4.png"><img class="aligncenter size-full wp-image-63" src="/images/uploads/2013/09/projects-labguide4.png" alt="Lab guide book layout design - tables and plots" width="686" height="958" /></a></p>
<p>Code syntax highlighting:</p>
<p><a href="/images/uploads/2013/09/projects-labguide5.png"><img class="aligncenter size-full wp-image-64" src="/images/uploads/2013/09/projects-labguide5.png" alt="projects-labguide5" width="709" height="960" /></a></p>
