---
layout: work
title: Stationery - PSD CV layout
date: 2014-01-10 17:34:50.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- 'CV design'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2014/01/projects-cvpsd-featured.jpg
featured_image_alt: 'CV layout preview'
---
<p>This is a pack designed with Phosothop, including the design of the CV's layout, cards, etc. The aim was to complement the look and feel of the corresponding <a href="/work/web-dev/simple-portfolio-site">portfolio website</a>:</p>
<p><a href="<%= image_host %>/images/uploads/2014/01/projects-cvpsd1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2014/01/projects-cvpsd1.jpg" alt="PSD CV layout - stationery" width="1100" height="982" /></a></p>
<p>CV layout:</p>
<p><a href="<%= image_host %>/images/uploads/2014/01/projects-cvpsd2.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2014/01/projects-cvpsd2.png" alt="PSD CV layout - full" width="963" height="1362" /></a></p>
