---
layout: jetpack-portfolio
title: Space invaders (WIP)
date: 2015-09-12 18:37:17.000000000 +01:00
type: jetpack-portfolio
published: true
status: publish
categories:
- Projects
tags:
- featured
- games
meta:
  _edit_last: '1'
  _thumbnail_id: '206'
  _wpas_done_all: '1'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/05/projects-spaceinvaders-featured.jpg
featured_image_alt: 'Space invaders preview'
---
<p><a href="/images/uploads/2016/05/projects-spaceinvaders.png"><img class="aligncenter size-full wp-image-206" src="/images/uploads/2016/05/projects-spaceinvaders.png" alt="Gaming - Space invaders (WIP)" width="700" height="644" /></a><br />
I'm trying out a new library to make HTML5 games on a canvas with JavaScript. It's called <a href="https://phaser.io/">Phaser</a>, and I think it is MAZE BALLS.</p>

<p>However, it's also a challenge to test drive it, so I might write a blog post about it when I'm finished.</p>

<p><a href="/images/uploads/2016/05/projects-spaceinvaders.gif"><img class="aligncenter size-full wp-image-207" src="/images/uploads/2016/05/projects-spaceinvaders.gif" alt="Gaming - Space invaders (WIP) animation" width="466" height="312" /></a></p>
