---
layout: work
title: C&#35; desktop app TTT
date: 2015-10-03 18:44:42.000000000 +01:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- games
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/05/projects-unbeatablenac-featured.png
featured_image_alt: 'Unbeatable TTT preview'
---
<p><a href="<%= image_host %>/images/uploads/2016/05/projects-unbeatablenac.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/projects-unbeatablenac.png" alt="Gaming - C# desktop application" width="700" hight="644" /></a></p>
<p>This is one of my C&#35; desktop applications. It's a Noughts and Crosses game that can be played against another person or against an unbeatable robot. The robot can use several algorithms:</p>
<ul>
<li>MiniMax</li>
<li>NegaMax</li>
<li>MiniMax with alpha-beta pruning</li>
<li>NegaMax with alpha-beta pruning</li>
<li>I also started implementing the MTD-f algorithm in a branch, but it's a work in progress.</li>
</ul>
<p>You can choose who plays first, and the size of the board (3x3 or 4x4).</p>

<table>
  <tbody>
    <tr>
      <th>Dedicated page</th>
      <td><a href="https://octopusinvitro.github.io/unbeatable-nac/">http://octopusinvitro.github.io/unbeatable-nac/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2015.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>C#, GitHub pages, HTML5/CSS/JavaScript, responsive design</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/unbeatable-nac">https://github.com/octopusinvitro/unbeatable-nac</a></td>
    </tr>
  </tbody>
</table>
