---
layout: work
title: Space invaders
date: 2015-09-12 18:37:17.000000000 +01:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- games
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/05/projects-spaceinvaders-featured.jpg
featured_image_alt: 'Space invaders preview'
---
<p><a href="<%= image_host %>/images/uploads/2016/05/projects-spaceinvaders.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/projects-spaceinvaders.png" alt="Gaming - Space invaders (WIP)" width="700" height="644" /></a></p>

<p>I finished a game of space invaders in vanilla JavaScript as a demonstration for my students. It was fun!</p>

<table>
  <tbody>
    <tr>
      <th>Play it!</th>
      <td><a href="http://invaders.tk/">http://invaders.tk/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2015.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>GitHub pages, HTML5/CSS/JavaScript</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>Simple space invaders web game made with vanilla JavaScript.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/space-invaders">https://github.com/octopusinvitro/space-invaders</a></td>
    </tr>
  </tbody>
</table>

<p><a href="<%= image_host %>/images/uploads/2016/05/projects-spaceinvaders.gif"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/projects-spaceinvaders.gif" alt="Gaming - Space invaders (WIP) animation" width="466" height="312" /></a></p>
