---
layout: work
title: BatteRun (WIP)
date: 2017-07-30 11:51:01.000000000 +01:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- featured
- games
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2017/07/projects-batterun-featured.png
featured_image_alt: 'BatteRun (WIP)'
---

<video autoplay loop width="500" height="378" class="aligncenter">
  <source src="/images/uploads/2017/07/projects-batterun.mp4" type="video/mp4">
  Sorry, your browser doesn't support embedded videos. The video shows a playthrough of the first and only level in the game.
</video>

<p>I participated in my first <a href="https://ldjam.com/events/ludum-dare/39">Ludum Dare</a> ever. It's a game jam where you have to make a videogame in a weekend. You have to do everything: the code, the art, the music, etc.</p>

<p>The theme for LD-39 was <strong>Running out of Power</strong>, so after a bit of brainstorming I decided to make a walking eye whose battery is constantly discharging, and you have to solve a circuit so that the eye can charge. It's called "BatteRun".</p>

<p>I thought I would give it a try and make an HTML5 game using <a href="https://phaserjs.com/">the Phaser library</a>. Web games are easy to code and share, and anyone can play them without installing anything.</p>

<p>However I miscalculated how long it would take me to use a library for the first time while also doing a weekend challenge like this, so I ran out of time before I finished it. As a result, the game only has one level that repeats in a loop, forever 😆. I would like to come back to this project and finish it though!</p>

<table>
  <tbody>
    <tr>
      <th>Play it here</th>
      <td><a href="https://octopusinvitro.github.io/ldjam-39/">https://octopusinvitro.github.io/ldjam-39/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2017.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>Phaser.js, Gulp, GitHub pages, HTML5/CSS/JavaScript, responsive design</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/ldjam-39">https://github.com/octopusinvitro/ldjam-39</a></td>
    </tr>
  </tbody>
</table>

<p>Screenshots of the progress:</p>

<p><a href="https://pbs.twimg.com/media/DF6T9zhXkAAG_zw?format=png&name=small"><img class="aligncenter" src="https://pbs.twimg.com/media/DF6T9zhXkAAG_zw?format=png&name=small" alt="Initial geometrical shapes" width="680" hight="510" /></a></p>

<video autoplay loop width="500" height="374" class="aligncenter">
  <source src="/images/uploads/2017/07/projects-batterun-animated-squares.mp4" type="video/mp4">
  Sorry, your browser doesn't support embedded videos. The video shows a playthrough of the first and only level in the initial stages of development.
</video>

<p><a href="https://pbs.twimg.com/media/DF-9nsgXUAAYtWE?format=jpg&name=240x240"><img class="aligncenter" src="https://pbs.twimg.com/media/DF-9nsgXUAAYtWE?format=jpg&name=240x240" alt="Details of the rack where the eye charges" width="192" hight="186" /></a></p>

<p><a href="https://pbs.twimg.com/media/DF_L4UPXsAAAJgQ?format=jpg&name=small"><img class="aligncenter" src="https://pbs.twimg.com/media/DF_L4UPXsAAAJgQ?format=jpg&name=small" alt="Screenshot of the finished art, with color and textures" width="680" hight="510" /></a></p>

<p><a href="https://pbs.twimg.com/media/DF_j1_fXsAILZW_?format=png&name=360x360"><img class="aligncenter" src="https://pbs.twimg.com/media/DF_j1_fXsAILZW_?format=png&name=360x360" alt="Screenshot of the eye stripes used for animation" width="288" hight="48" /></a></p>
