---
layout: work
title: Who's in space
date: 2020-05-28 21:07:02.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- JavaScript
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2020/05/projects-whosinspace-featured.png
featured_image_alt: 'API fullstack app'
---

<p><a href="<%= image_host %>/images/uploads/2020/05/projects-whosinspace.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2020/05/projects-whosinspace.png" alt="Screenshot of the Who's in space site" width="813" height="600" /></a></p>

<p>This is a lockdown project. I was consuming a lot of space news as an escape (and luckily there was a lot going on). So I found an API that tells you which astronauts are in the ISS at any point in time and decided to make something out of it.</p>

<table>
  <tbody>
    <tr>
      <th>Check it out</th>
      <td><a href="http://whosinspace.tk/">http://whosinspace.tk/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2020.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>GitHub pages, HTML5/CSS/JavaScript</td>
    </tr>
    <tr>
      <th>Testing</th>
      <td>Jasmine.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>A page that shows the real time space coordinates of the ISS and which astronauts are in the space craft.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/game-of-life-js">https://github.com/octopusinvitro/game-of-life-js</a></td>
    </tr>
  </tbody>
</table>
