---
layout: work
title: Game of life
date: 2020-05-11 21:07:02.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- JavaScript
- games
- featured
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2020/05/projects-game-of-life-featured.png
featured_image_alt: 'API fullstack app'
---

<p><a href="<%= image_host %>/images/uploads/2020/05/projects-game-of-life.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2020/05/projects-game-of-life.png" alt="Screenshot of the game of life site" width="559" height="936" /></a></p>

<p>I am helping a student with their JavaScript learning journey and I proposed they build a game of life in JavaScript. This is the example that I built as a demonstration.</p>

<p>I always wanted to have "Stayin' alive" by the Bee Gees playing in the background. Hence, I built it so that when you play start, a midi version of the song will start playing.</p>
<p>Since it uses a canvas, I am not quite sure how to make it responsive, so at the moment I can only assure it will work correctly on screens bigger than phones.</p>

<table>
  <tbody>
    <tr>
      <th>Play it here</th>
      <td><a href="https://octopusinvitro.github.io/game-of-life-js/">https://octopusinvitro.github.io/game-of-life-js/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2020.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>GitHub pages, HTML5/CSS/JavaScript</td>
    </tr>
    <tr>
      <th>Testing</th>
      <td>Jasmine.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>Game of life in JavaScript. You can choose a starter and add as many as you want once in progress.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/game-of-life-js">https://github.com/octopusinvitro/game-of-life-js</a></td>
    </tr>
  </tbody>
</table>
