---
layout: work
title: Chat Viewer
date: 2021-01-31 13:46:13.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- Sinatra
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2021/01/projects-chat-viewer-featured.png
featured_image_alt: 'Featured image for the chat viewer project'
---

<p><a href="<%= image_host %>/images/uploads/2021/01/projects-chat-viewer.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2021/01/projects-chat-viewer.png" alt="Screenshot of the chat viewer" width="1024" height="515" /></a></p>

<p>When Facebook bought Whatsapp, I thought for a long time of quitting, but all my friends were there so it was difficult. Recently, they updated stuff related with pricacy policy in Europe, and everyone finally switched to Signal (a much mure secure messaging app), including me.<p>

<p>In theory you can download your Whatsapp chats and there is <a href="https://andreas-mausch.de/whatsapp-viewer/">a viewer by Andreas Mausch</a> but I couldn't make it work. Hence, I decided to build my own viewer and delete all my chats from Whatsapp before deleting my account.</p>

<p>Eventually, I realized I could also use it for my old Messenger chats (if you have lived long enough to remember Messenger). I may be able to extend it to other chats in the future, and even emails.</p>

<table>
  <tbody>
    <tr>
      <th>Creation Date</th>
      <td>2021.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>Sinatra.</td>
    </tr>
    <tr>
      <th>Testing</th>
      <td>RSpec.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>A chat viewer, for Whatsapp chats initially, but now I can also use it with Messenger chats. Still work in progress.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/chat-viewer">https://github.com/octopusinvitro/chat-viewer</a></td>
    </tr>
  </tbody>
</table>
