---
layout: work
title: Codecademy practice
date: 2021-04-03 13:46:13.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- JavaScript
- Jekyll
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2021/04/projects-codecademy-practice-featured.png
featured_image_alt: 'Featured image for the Codecademy practice project'
---

<p><a href="https://raw.githubusercontent.com/octopusinvitro/codecademy-practice/gh-pages/screenshot.png"><img class="aligncenter" src="https://raw.githubusercontent.com/octopusinvitro/codecademy-practice/gh-pages/screenshot.png" alt="Screenshot of a challenge page" width="600" height="600" /></a></p>

<p>In my free time, I teach people from underrepresented groups to code. They start from zero, not having written a line of code. So I usually have them start with web development, as they don't have to install anything, and they have immediate feedback in a browser everytime they change the code.</p>

<p>I often have them go through the Codecademy courses and do a couple of lessons, then I give them challenges to practice and sink in the learnings. I observed that I was repeating myself a lot and decided to create a page so I can direct them there, and they do the same challenges.</p>

<p>It is still a work in progress in continuous expansion. It contains challenges for JavaScript and Ruby.</p>

<table>
  <tbody>
    <tr>
      <th>See it in action</th>
      <td><a href="https://octopusinvitro.github.io/codecademy-practice/">https://octopusinvitro.github.io/codecademy-practice/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2021.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>Jekyll, GitHub pages, HTML5/CSS/JavaScript.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>A page to send my students for challenges that I can review. Challenge solutions are provided.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/codecademy-practice">https://github.com/octopusinvitro/codecademy-practice</a></td>
    </tr>
  </tbody>
</table>
