---
layout: work
title: gAlarm
date: 2021-07-29 10:11:13.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- Python
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2021/07/projects-galarm-featured.png
featured_image_alt: 'Featured image for the gAlarm project'
---

<p><a href="<%= image_host %>/images/uploads/2021/07/projects-galarm.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2021/07/projects-galarm.png" alt="Screenshot of the Figma design for the app" width="1024" height="628" /></a></p>

<p>Some time ago there was an alarm app for Ubuntu that I really liked. It was simple and to the point, you could add alarms and they would ring. No bloat.</p>

<p>With the update to Ubuntu 20.04 this app is nowhere to be seen, and I've been wanting to do a desktop app for Ubuntu with the Gtk libraries for a while.</p>

<p>So a friend and I decided to pair on a desktop alarm app. It's stilll work in progress but I am already using it locally and it works smoothly.</p>

<table>
  <tbody>
    <tr>
      <th>Creation Date</th>
      <td>2021.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>Python, Gtk, PyGObject.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>A desktop app that allows you to add alarms with a label. They will ring and show the label.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/galarm">https://github.com/octopusinvitro/galarm</a></td>
    </tr>
  </tbody>
</table>
