---
layout: work
title: API fullstack app
date: 2022-03-21 13:46:13.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- Ruby
- Sinatra
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2022/03/projects-api-app-featured.png
featured_image_alt: 'API fullstack app'
---

<p><a href="<%= image_host %>/images/uploads/2022/03/projects-api-app.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2022/03/projects-api-app.png" alt="Screenshot of an API app with a frontend" width="1024" height="339" /></a></p>

<p>What does setting up a Ruby fullstack app looks like in 2022?</p>

<p>Whenever I had worked on this type of app in my work history, it was always on codebases that were already started by others, and had been running in production for a couple of years.</p>

<p>I wanted to check out the state of things in 2022. How would I start one of those from scratch today. I also always wanted to create a webapp that is both an API and has a sandbox to try it out and a docs page all in the same place. So I created an API app using Sinatra, with a frontend that makes AJAX requests to the API using vanilla Javascript.</p>

<p>I wrote about the technicalities of it <a href="/blog/code-and-tech/api-app-with-a-frontend">in this blog post</a>.</p>

<table>
  <tbody>
    <tr>
      <th>See it in action</th>
      <td><a href="https://roleplayersapi.herokuapp.com/">https://roleplayersapi.herokuapp.com/</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2022.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>Heroku CLI, Ruby, Sinatra, PostgreSQL, HTML5/CSS/JavaScript, responsive design</td>
    </tr>
    <tr>
      <th>Testing</th>
      <td>RSpec, Jasmine.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>Simple set up of an API page with a frontend that provides both a sandbox to try out the API and a docs page. Coded from scratch.</td>
    </tr>
    <tr>
      <th>Repository</th>
      <td><a href="https://github.com/octopusinvitro/players-api">https://github.com/octopusinvitro/players-api</a></td>
    </tr>
  </tbody>
</table>

<h2>Screenshot of the sandbox</h2>

<p><a href="<%= image_host %>/images/uploads/2022/03/projects-api-app-fullpage.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2022/03/projects-api-app-fullpage.png" alt="Screenshot of a full page showing the sandbox" width="794" height="911" /></a></p>
