---
title: 404 - Not found
blog: work
---

<h1>Not found</h1>

<section class="wrapper floating-octopus">
  <figure class="floating-octopus-img">
    <img src="/images/octopus.png" width="260" height="181" alt="octopus raising shoulders">
    <figcaption><span>Floating octopus</span></figcaption>
  </figure>

  <div class="floating-octopus-text">
    <p>Sorry, it looks like you are swimming in the wrong planet!</p>
  </div>
</section>
