---
title: 404 - Not found
blog: work
---
<article>
  <h1>Not found</h1>

  <section class="wrapper floating-octopus">
    <figure class="floating-octopus-figure">
      <img src="<%= image_host %>/images/octopus.png" width="260" height="181" alt="octopus raising shoulders">
      <figcaption><p>Floating octopus</p></figcaption>
    </figure>

    <div class="floating-octopus-text">
      <p>Sorry, it looks like you are swimming in the wrong planet!</p>
    </div>
  </section>
</article>
