<h1 class="comments-title">Comments</h1>

<div id="disqus_thread" class="wrapper"></div>
<script>
// https://disqus.com/admin/universalcode/#configuration-variables
var domain = '<%= siteurl %>'
var disqus_config = function () {
  this.page.url = domain + '<%= current_page.url %>';
  this.page.identifier = '<%= current_page.date %>';
};

(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//http-octopusinvitro-tk.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
