<section class="wrapper">
  <h2>Catch me on the internets</h2>

  <ul class="social center">
    <li><a href="mailto:octopusinvitro@gmail.com"><svg aria-hidden="true" class="icon-gmail"><use href="/images/symbol-defs.svg#icon-gmail"></use></svg></a></li>
    <!-- <li><a href="<%= twitter_url %>"><svg aria-hidden="true" class="icon-twitter"><use href="/images/symbol-defs.svg#icon-twitter"></use></svg></a></li> -->
    <li><a href="https://github.com/octopusinvitro"><svg aria-hidden="true" class="icon-github"><use href="/images/symbol-defs.svg#icon-github"></use></svg></a></li>
    <li><a href="https://codepen.io/octopusinvitro"><svg aria-hidden="true" class="icon-codepen"><use href="/images/symbol-defs.svg#icon-codepen"></use></svg></a></li>
    <li><a href="https://dabblet.com/user/octopusinvitro"><svg aria-hidden="true" class="icon-dabblet"><use href="/images/symbol-defs.svg#icon-dabblet"></use></svg></a></li>
    <li><a href="https://musescore.com/user/27390452"><svg aria-hidden="true" class="icon-musescore"><use href="/images/symbol-defs.svg#icon-musescore"></use></svg></a></li>
    <li><a href="/feed.xml"><svg aria-hidden="true" class="icon-rss"><use href="/images/symbol-defs.svg#icon-rss"></use></svg></a></li>
  </ul>
</section>
