<p class="center">
  <a href="https://twitter.com/intent/tweet?url=<%= siteurl + current_page.url %>&amp;text=<%= current_page.title %>&amp;via=octopusinvitro" target="_blank" class="sharebutton taxonomy-item" data-show-count="false">Tweet this!</a>
  <a href="https://twitter.com/octopusinvitro" target="_blank" class="sharebutton taxonomy-item" data-show-count="false">Follow me!</a>
</p>
