<div id="search" class="search">

  <form class="search-form">
    <input class="search-input" type="search" placeholder="Search..."/>
    <button class="search-submit" type="submit">Search</button>
  </form>

  <div class="search-content">

    <div class="search-column">
      <h2>Recent</h2>
      <% blog.articles[0...6].each do |article| %>
      <a class="search-column-item" href="<%= article.url %>">
        <svg aria-hidden="true" class="icon-recent"><use xlink:href="/images/symbol-defs.svg#icon-recent"></use></svg>
        <span><%= article.title %></span>
      </a>
      <% end %>
    </div>

    <div class="search-column">
      <h2>Categories</h2>
      <a class="search-column-item" href="/blog/code-and-tech">
        <svg aria-hidden="true" class="icon-categories"><use xlink:href="/images/symbol-defs.svg#icon-categories"></use></svg>
        <span>Code and tech</span>
      </a>
      <a class="search-column-item" href="/blog/science">
        <svg aria-hidden="true" class="icon-categories"><use xlink:href="/images/symbol-defs.svg#icon-categories"></use></svg>
        <span>Science</span>
      </a>
      <a class="search-column-item" href="/blog/thoughts">
        <svg aria-hidden="true" class="icon-categories"><use xlink:href="/images/symbol-defs.svg#icon-categories"></use></svg>
        <span>Thoughts</span>
      </a>
      <a class="search-column-item" href="/blog/web-development">
        <svg aria-hidden="true" class="icon-categories"><use xlink:href="/images/symbol-defs.svg#icon-categories"></use></svg>
        <span>Web development</span>
      </a>
    </div>

    <div class="search-column">
      <h2>Popular Tags</h2>
      <% tags_sorted(6).each do |tag, articles| %>
      <a class="search-column-item" href="<%= tag_path(tag) %>">
        <svg aria-hidden="true" class="icon-tags"><use xlink:href="/images/symbol-defs.svg#icon-tags"></use></svg>
        <span><%= "#{tag} (#{articles.size})" %></span>
      </a>
      <% end %>
    </div>
  </div>

  <span class="search-close"></span>
</div>

<div class="overlay"></div>
