<ul class="social center">
  <li><a href="https://twitter.com/octopusinvitro"><svg aria-hidden="true" class="icon-twitter"><use xlink:href="/images/symbol-defs.svg#icon-twitter"></use></svg></a></li>
  <li><a href="https://github.com/octopusinvitro"><svg aria-hidden="true" class="icon-github"><use xlink:href="/images/symbol-defs.svg#icon-github"></use></svg></a></li>
  <li><a href="/feed.xml"><svg aria-hidden="true" class="icon-rss"><use xlink:href="/images/symbol-defs.svg#icon-rss"></use></svg></a></li>
</ul>
