<!-- Default Statcounter code for Octopus in vitro http://octopusinvitro.tk -->
<script type="text/javascript">
var sc_project=10515243;
var sc_invisible=1;
var sc_security="81c44b24";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy - StatCounter" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="//c.statcounter.com/10515243/0/81c44b24/1/" alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
