<ul class="taxonomy-list">
  <li><a class="taxonomy-item" href="/blog/code-and-tech">Code &amp; tech</a></li>
  <li><a class="taxonomy-item" href="/blog/science">Science</a></li>
  <li><a class="taxonomy-item" href="/blog/thoughts">Thoughts</a></li>
  <li><a class="taxonomy-item" href="/blog/web-development">Web Dev.</a></li>
</ul>
