<ul class="taxonomy-list">
  <li><a class="taxonomy-item" href="/work/web-dev">Web Dev.</a></li>
  <li><a class="taxonomy-item" href="/work/projects">Projects</a></li>
  <li><a class="taxonomy-item" href="/work/illustration">Illustration</a></li>
</ul>
