---
blog: work
pageable: true
per_page: 12
---
<h1>Work: <%= category %></h1>

<%= partial(:taxonomy, locals: { items: work_taxonomy }) %>

<%= partial(:hexagons, locals: { tag_class: 'thumbnails', articles: work_category(category) }) %>
