---
title: Welcome to Octopus in vitro
---

<div class="welcome">
  <h1>An octopus is Watching you</h1>
  <p class="doc">
    I'll be back.
    <!-- <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %> -->
  </p><!-- .doc -->
</div><!-- .welcome -->
